[2016-08-17 06:18] rubensworks opened #460 "Bonus chests spawn too much blood"
Lower it.

[2016-08-18 14:38] rubensworks opened #461 "Fluids renders over the bottom of the Dark Tank"
Just increase yMin slightly.

[2016-08-20 14:34] JonaBrackenwood opened #462 "EvilCraft villager not displaying career"
Career displays as entity.Villager.werewolfVillager

![image](https://cloud.githubusercontent.com/assets/1567798/17831595/61c994ae-66ed-11e6-9bc6-16c49a5a1991.png)

[2016-08-20 20:30] JonaBrackenwood opened #463 "Sound only playing for other players"
If a player is disposing blood in a blood tank by right clicking a blood extractor on it,
it makes a splashing-sound for other players but not for yourself.

[2016-08-23 06:09] rubensworks opened #466 "Add config option to disable loot chests in temples"
Source: https://minecraft.curseforge.com/projects/evilcraft?comment=97

[2016-08-23 06:42] Morpheus1101 opened #467 "[1.10.2] Evilcraft causes Immersive Engineering to Crash"
Crash log @ http://pastebin.com/zfaKmFbt .. this has  been reported also on IE

[2016-08-23 06:48] rubensworks commented on #467
It looks like a null entity renderer snuck it's way into the render map.
I'll have a look if I'm somehow responsible for this.

https://github.com/BluSunrize/ImmersiveEngineering/blob/1.10/src/main/java/blusunrize/immersiveengineering/client/ClientProxy.java#L1206

[2016-08-23 06:49] BluSunrize opened #468 "Null registered as an EntityRender"
Issue Link:
https://github.com/BluSunrize/ImmersiveEngineering/issues/1298

Problem:
There seem to have an incompatibility issue between EvilCraft and Immersive Engineering
It's an NPE at me iterating through "Minecraft.getMinecraft().getRenderManager().entityRenderMap", meaning that somehow a null value found its way in there. Reporters on my tracker have narrowed it down to EvilCraft, which lead

[2016-08-23 06:53] rubensworks commented on #468
You're right, that null renderer should not be there, will look into it later today.
Duplicate of #467

[2016-08-23 07:02] BluSunrize commented on #468
Great, thanks ^^

[2016-08-23 16:45] #467 closed, assigned to nobody

[2016-08-23 16:45] #459 closed, assigned to nobody

[2016-08-23 16:45] #460 closed, assigned to nobody

[2016-08-23 16:45] #461 closed, assigned to nobody

[2016-08-23 16:45] #462 closed, assigned to nobody

[2016-08-23 16:45] #463 closed, assigned to nobody

[2016-08-23 16:45] #466 closed, assigned to nobody

[2016-08-23 16:46] rubensworks commented on #468
Fixed in 604d40bb6940a9b33ad7f268346a2dfa12046952, will be released as part of EvilCraft 0.10.9 shortly.

[2016-08-23 16:46] #468 closed, assigned to nobody

[2016-08-23 19:07] DoughnutDev opened #469 "Crash on server"
http://hastebin.com/oyipipaxay.coffee Happens with the latest version.

[2016-08-23 19:10] rubensworks commented on #469
Whoops, will push a new release shortly.

[2016-08-23 19:11] rubensworks commented on #469
Fixed in 081d1e06140e1a5bcbce0adc22e375c714c0aa7a

[2016-08-23 19:11] #469 closed, assigned to nobody

[2016-08-25 15:35] rubensworks opened #470 "Can't take buckets out of tanks"
"Since I installed the "1.10.2-0.10.10" I can not take the liquid in the tank with a bucket: it activates self-supply (shift or not does not change). I can always fill with a bucket but not empty. I tested only with evilcraft in several version of Forge of 2011 to 2073. I returned to "1.10.2-0.10.8" and everything works again as before."

Source: http://www.minecraftforum.net/forums/mapping-and-mo

[2016-08-25 17:53] rubensworks commented on #470
Can't reproduce in both SSP and SMP.

[2016-08-26 06:08] rubensworks commented on #470
Parameter tests

System Windows 10. The mouse control is standard (no specific function). The keyboard setting is standard (no specific function).
Minecraft loader MultiMC 0.4.11
Minecraft version 1.10.2
Minecraft Controls
- RIGHTCLICK = use item/place block
- LSHIFT = sneak
  Minecraft Mods
- Forge (2046 or 2073)
- EvilCraft-1.10.2-0.10.8 or EvilCraft-1.10.2-0.10.8
- CyclopsCore-1.9.4-0.7.5 or Cy

[2016-08-26 11:05] MentalMouse opened #471 "Display stand is miniscule and displays items in miniature."
EvilCraft-1.10.2-0.10.10.jar:  The display stand is itself small, less than a block high, and the item it displays appears _tiny_ -- far smaller than, say in an item frame or the dropped entity.  Also, when breaking it, the particles are "unknown texture" colors.

[2016-08-28 09:53] #470 closed, assigned to nobody

[2016-08-28 09:53] #471 closed, assigned to nobody

[2016-08-28 16:05] MentalMouse opened #472 "Undead wood logs show undefined texture in WAILA"
Evilcraft 0.10.10, Waila tooltips show the "unknown texture" icon for undead wood logs.

[2016-08-29 17:06] rubensworks commented on #472
Fixed in CyclopsMC/CyclopsCore@82010dd0a451fc69be741a1b91108e0f72d08672
Will be part of CyclopsCore 0.7.7.

[2016-08-29 17:06] #472 closed, assigned to nobody

[2016-08-30 02:20] drakray opened #473 "[Crash] When looking at Environmental Accumulator from worldGen structure"
Forge log link: http://pastebin.com/mM3irFvJ

Problem: CTD when looking at Environmental Accumulator from worldGen structure. The EnvAcc didn't have the Beam over it.

Expected behaviour: Not to crash when looking at it XD

Steps to reproduce the problem: look at an Accumulator that doesn't have the Beam
- Crash
- ???

[2016-08-30 02:24] drakray commented on #473
Saw the drpmedieval part, posted to [Dark Roleplay Medieval](https://minecraft.curseforge.com/projects/dark-roleplay-medieval/issues/4) too

[2016-08-30 06:14] rubensworks commented on #473
Duplicate of https://github.com/CyclopsMC/CyclopsCore/issues/23

[2016-08-30 06:14] #473 closed, assigned to nobody

[2016-09-01 16:27] BatteryVoltic opened #474 "Texture bug or glitch: Waila and Evilcraft"
When looking at an evilcraft item i get a missing texture in Waila -this was requested by rubensworks to post this here. Minecraft version 1.10.2 on the MMD Dev server
![2016-09-01_04 29 35](https://cloud.githubusercontent.com/assets/10549249/18175445/56b071e0-703f-11e6-978b-bcd7f3d2accc.png)

[2016-09-05 10:32] mrtomwolf opened #475 "Werewolves not attacking"
Werewolves not attacking.

First noticed in a village with several werewolves every night and none attacked.

Reproduced by using only:
cyclops core 0.7.7
EvilCraft 0.10.11
Forge: different versions between 2053 and 2076

To reproduce I spawned a werewolf in at night with an egg. Had gamemode 0 (survival) on when I spawned it in.

Tested in different biomes and also by going to village and setting

[2016-09-05 14:10] C0rn3j opened #476 "MenuMobs crashes on rendering Vengeance Spirit"
Not sure which mod is at fault, so I'm making an issue on both trackers.

http://pastebin.com/8LsY0VAE

Forge 2076
CyclopsCore-1.9.4-0.7.7.jar
EvilCraft-1.10.2-0.10.11.jar
[1.10]MenuMobs-universal-1.9.jar

https://github.com/superbas11/MenuMobs/issues/14

[2016-09-05 15:35] bschoenmaeckers commented on #476
Fixed it on my side. mc.thePlayer is not null anymore but still added the vengeance Spirit to the blacklist because its not visible.

[2016-09-05 15:45] rubensworks commented on #476
Ok, awesome, thanks!

[2016-09-05 15:45] #476 closed, assigned to nobody

[2016-09-10 12:58] Morpheus1101 opened #477 "[1.10.2] SilkTouch Evilcraft Gem has no texture"
I used the rftools Builder with Silk Touch Quarry to mine an got a DarkGem silkTouched, but had no texture on the block

[2016-09-12 19:05] rubensworks commented on #477
Fixed in https://github.com/CyclopsMC/CyclopsCore/commit/ed359ae84812cf245a30aad68bc35c032bb5c8fe
Will be included in the next CyclopsCore release.

[2016-09-12 19:05] #477 closed, assigned to nobody

[2016-09-15 18:34] rubensworks opened #478 "Issues with achievements"
Tab icon is fireworks and there is a missing texture.
http://i.imgur.com/uH2FWxw.png

[2016-09-18 08:28] rubensworks opened #479 "Crash when registering Gregtech block in Display Stand"
https://github.com/Blood-Asp/GT5-Unofficial/issues/638

Moved from CyclopsMC/CyclopsCore#24

[2016-09-20 17:08] C0rn3j opened #480 "WARN console spam"
I got tired of spammy console output. I've noted every single WARN and STDERR(just a single one, from Lootbags) during server startup. I've decided that I will not be making 63 separate issue descriptions, so I've added line numbers to each mod name which correspond to the server startup log line numbers.

Some mods have more problems, so there will be numbers separated by a comma.

I do realize t

[2016-09-21 13:27] C0rn3j commented on #480
One of the issues is breaking /help

This is how LootBags fixed that same issue on their side.
https://github.com/Malorolam/LootBags/commit/2647147688ea02e3de88c87e5e927a5e2dbfd6c8

It breaks stuff.
http://i.imgur.com/A7p7pfq.png

[2016-09-21 13:30] rubensworks commented on #480
Ok, thanks for mentioning this, I wasn't aware of this issue, this must've been this way for a long time then :s

[2016-09-21 13:32] C0rn3j commented on #480
Possibly. I guess most people just use HelpFixer and don't report the issue.

This is only caused server side too so it's harder to notice it.

[2016-09-21 14:41] Unrepentant-Atheist opened #481 "Can't place re-fillable items on pedestal"
As per https://twitter.com/kroesermc/status/778592250775367681

Whenever I try to right-click or shift+right click place an refillable item (orb, pendant) etc. on the pedestal, it doesn't work.

Workaround is to drop the items via hopper into the pedestal and take it out of the pedestal once refilled.

EvilCraft-1.10.2-0.10.11.jar
Forge 2092
more log: https://gist.github.com/anonymous/91cbd49a684d

[2016-09-22 06:13] Unrepentant-Atheist opened #482 "Crashing when placing Tinker Construct items in blood chest."
1. Put any damaged Tinker's Construct item into the blood chest for repair
2. Crash randomly

Log: https://gist.github.com/anonymous/a2afba54e332298f73146ff5428b2afa

It's random. Doesn't happen often, but it does.

[2016-09-22 14:45] Rongmario commented on #479
When is this being fixed may I ask?

[2016-09-22 14:47] rubensworks commented on #479
Most likely not before next week, in the meantime you can disable the Display Stand, this should allow you to start without crashing.

[2016-09-22 15:03] Rongmario commented on #479
Oh thanks! Sorry for the bugging.

[2016-09-26 10:04] Morpheus1101 opened #483 "[1.10.2] Intergrated Dynamics Drying Basin dosent dry blood when filled"
Since the blood drying thing shows in JEI as a valid option to use blood to dry to make solid blood blocks, i thought it would work, unfortunately it dosent, however being that this relates to Intergrated Dynamics i'll also shove it over on there github since i cant be sure as if its ID or EC fault to why it isnt working as JEI sais its meant to.

https://github.com/CyclopsMC/IntegratedDynamics/is

[2016-09-26 10:08] rubensworks commented on #483
Thanks!
I'll close the issue here, since the recipes are added in ID.

[2016-09-26 10:08] #483 closed, assigned to nobody

[2016-10-02 10:06] LemADEC opened #484 "NPE server crash with environmental accumulator"
NullPöinterException in environmental accumulator related to recipe handling.

Crash report is here: http://pastebin.com/gWGyQqh1
Using EvilCraft-1.7.10-0.9.9.jar
According to logs player did nothing special, just moving around her base and disconnecting. Hence, it might be related to chunk unloading.

[2016-10-03 19:19] Aedda opened #485 "[Request] Blood Chest support for Reliquary charms"
Reliquary charms are powerful but also extremely hard to get without mob farms and grinders, it would be nice if they could be repaired using the Blood Chest.

[2016-10-03 19:48] rubensworks commented on #485
I can look into this once I have implemented material-dependent blood chest repairing.

Note to self: the charms are not repairable by default, but they have a separate repair recipe: https://github.com/P3pp3rF1y/Reliquary/blob/b53f076e45fec211442088f922da255282de4d56/src/main/java/xreliquary/crafting/MobCharmRepairRecipe.java

[2016-10-04 04:18] Aedda opened #486 "[1.10.2][0.10.11] Primed Pendant Consuming Blood from Rejuvenated Flesh?"
Problem: Primed Pendant consumes blood from Rejuvenated Flesh (I am aware of issue #329 but I did not consider this item as a tank/container.)

Expected behavior: For the Primed Pendant to drain tanks in the inventory and extractor if enabled, but not from other "tools".

[2016-10-04 07:04] rubensworks commented on #486
This is intended behaviour, since tools that run on blood are also seen as blood containers.

I do however recognise the problem; you do not always want blood consumers to take blood from all possible containers in your inventory.
I might just remove the consume-blood-from-all-containers functionality, since this seems to cause confusion for players.
I'll leave this issue open as a task for myself

[2016-10-04 18:32] rubensworks commented on #474
Will be fixed in next release.

[2016-10-04 18:32] #474 closed, assigned to nobody

[2016-10-04 19:31] #475 closed, assigned to nobody

[2016-10-04 19:31] #478 closed, assigned to nobody

[2016-10-04 19:31] #479 closed, assigned to nobody

[2016-10-04 19:31] #481 closed, assigned to nobody

[2016-10-04 19:32] rubensworks commented on #482
Next release will contain a possible fix for this, keep me posted if this resolves your issue after the release.

[2016-10-04 19:33] rubensworks commented on #480
Fixed in 70b33e2e88752ee5bd2f9e600e4d974fca986eeb, 6a360e35b428e2189f5229dbc011c4c26fd688bf and  CyclopsMC/CyclopsCore@aeb86a40399213535bc6a36f5a76722789cf501a

[2016-10-04 19:33] #480 closed, assigned to nobody

[2016-10-04 19:34] rubensworks commented on #446
Closing since no one has been able to reproduce this since.

[2016-10-04 19:34] #446 closed, assigned to nobody

[2016-10-04 19:36] C0rn3j commented on #480
Thanks a lot!

[2016-10-04 19:40] rubensworks commented on #484
Will be fixed in next release.

[2016-10-04 19:40] #484 closed, assigned to nobody

[2016-10-05 01:15] DatrixTHLK opened #487 "Received an invalid item request"
- FML Log: https://gist.github.com/DatrixTHLK/9779e3a193a71e7f132087993c558027
- The problem I am getting Is that FML is telling me of an error that is dealing with your mod
- The behavior that I was expecting was that the recipe for items that don't exist would actually exist
- There weren't any steps, FML just told me to report this.
  Minecraft: 1.10.2
  Forge: 2095
  Cyclops Core: 1.9.4-0.7.7

[2016-10-05 06:10] rubensworks commented on #487
Fixed in 70b33e2e88752ee5bd2f9e600e4d974fca986eeb (unreleased)

[2016-10-05 06:10] #487 closed, assigned to nobody

[2016-10-05 19:08] lilmoefow opened #488 "[1.10.1] Crash with GregTech"
Try to put a pack together on curse,  not really sure whos side its on so im reporting to both parties.  It crashes on start up.

Crashlog: https://gist.github.com/lilmoefow/0e0461bdd53dcb2f71153955b82045f0

FML Latest: https://gist.github.com/lilmoefow/8571efb364c35ce75b0c261557ea056d

Forge 12.18.1.2095
CyclopsCore-1.9.4-0.7.7.jar
EvilCraft-1.10.2-0.10.11.jar
gregtech-5.10.05.jar
industrialcraft

[2016-10-05 19:09] rubensworks commented on #488
Duplicate of #479, already fixed, to-be released.

[2016-10-05 19:09] #488 closed, assigned to nobody

[2016-10-05 19:10] lilmoefow commented on #488
shit, didnt check the closed issues well enough then.  sorry 'bout that, looking forward to a release :)

[2016-10-07 01:04] darklordwonton opened #489 "Vengeance Spirits always attacking"
I like vengeance spirits as a mechanic but they're way too powerful (it might just be because of the other mods I have though) an option to make them only attack players who can see them would be handy.

[2016-10-07 06:21] rubensworks commented on #489
Vengeance spirits should only attack players who can seen them though, are you experience this otherwise?
They should only become visible when using a vengeance tool.

[2016-10-07 14:58] darklordwonton commented on #489
I've been experiencing vengeance spirits attacking me even when I can't see them. This might be caused by the mod I have, I'll post a full mod list later but I think the most likely culprit is either Epic Siege or Rough Mobs.

[2016-10-10 12:43] DatrixTHLK commented on #487
Thanks rubenworks.

[2016-10-11 05:17] lilmoefow opened #490 "Nether Monster Eggs."
Only a Minor issue,  When using a Tinkers Hammer to mine in the Nether, It will not mine the Nether Monster eggs. It just leaves then there, and with a mod installed such as TheOneProbe the player is able to tell what the block is.   Is it possible to hide the name of the nether Monster egg block from detection, and or make it get mined at the same time as all other nether rack when using a Tinker

[2016-10-11 07:14] rubensworks commented on #490
TOP support is planned, Waila will already do this.

Regarding TCon hammers, I'll have to look into the source code to see if that's possible. Does the hammer already do the same when mining near vanilla silverfish blocks?

[2016-10-11 07:29] lilmoefow commented on #490
I think its looking to see if the blocks around it are the same "density",  to prevent using the hammer as an exploit to get blocks with a "harder breaking point" (if you get what im saying).  So i could imagine it may do the same to vanilla silverfish blocks.

[2016-10-11 18:03] UnNinja opened #491 "java.lang.IllegalArgumentException client crash"
http://pastebin.com/8zCEagLN

[2016-10-11 18:06] rubensworks commented on #491
Seems to be a problem with this mod passing invalid block positions: `portablejim.bbw.core.WandWorker`
Please report over there.

[2016-10-11 18:06] #491 closed, assigned to nobody

[2016-10-14 05:38] darkphan opened #492 "Server crash when using the Environmental Accumulator"
Crash log: http://pastebin.com/K7wESKW0

When throwing a weather container into the beam of a Environmental Accumulator the server will crash ones the bottle has floated up.

Restarting the server the Environmental Accumulator bar fills back up once it doesz the server will crash again.

Restarting the server another time and things are back to "normal" until you do the process again.

[2016-10-14 17:58] #492 closed, assigned to nobody

[2016-10-16 13:06] C0rn3j opened #493 "Can't see the recipe for Blood Extractor"
http://i.imgur.com/WeIkZVK.png

Forge - 2107

Modlist - http://pastebin.com/hEMvVjJd

[2016-10-16 22:57] rubensworks commented on #493
Huh, at one point in time JEI was able to show these crafting recipes.
Something in JEI might have changed with regards to items that have both a regular crafting recipe and can be used as fluid containers in other recipes.

@mezz Could this be a problem on your end? Or should I add specific crafting handlers for this?

[2016-10-16 23:08] mezz commented on #493
JEI has a relatively new subtype registry system for interpreting items with nbt, capabilities, etc.
The fluid capability is automatically supported, so for recipes JEI is going to consider a filled blood extractor to be different from an empty one. I'm not exactly sure why this would stop it from looking up your recipe, but I'm pretty sure it's related to this issue.
If you want to have JEI inter

[2016-10-17 00:09] rubensworks commented on #493
The blood extractor has some additional NBT data, so that will be the problem.
I'll look into the `ISubtypeRegistry`, thanks!

[2016-10-18 23:18] murapix opened #494 "Vengeance Spirit String -> Integer cast"
Playing Elucent's newest custom pack, occasionally crash to desktop with this crash log:

http://pastebin.com/FkehiHUW

No idea how to create or reproduce this, just happens occasionally upon joining the server.

[2016-10-19 22:39] rubensworks commented on #494
Maybe @immortaleeb knows what the problem is here.

[2016-10-23 10:04] zamharear opened #495 ""Inverted Potentia" should be a stackable item."
Unable to trade with "Werewolvian" because "Inverted Potentia" **isn't a stackable item** and you need to give him 5 of it, in order to complete the trade.

[2016-10-25 00:55] #493 closed, assigned to nobody

[2016-10-25 00:55] #495 closed, assigned to nobody

[2016-10-26 14:19] C0rn3j commented on #494
Similar issue happened when slaying/hitting a zombie pigman in the overworld.

http://pastebin.com/ei9wCLxF

[2016-10-29 13:59] fl0ppat opened #498 "Player crush"
We heve some problem in a server.
When Player have Entangled Chalice and Bound Blood Drop in inventory, server kick him with log http://pastebin.com/Pms6cVf0
And until you remove these items, he can't connect.
Minecraft 1.7.10
Version 0.9.11
Thermos 57

[2016-10-30 04:02] rubensworks commented on #489
Any news on this? I think you were probably wearing an activated Vengeance Ring, which will constantly summon vengeance spirits.

[2016-10-30 04:20] #494 closed, assigned to nobody

[2016-10-30 04:22] rubensworks commented on #494
I'm not able to reproduce the crash, but the changes in the last commit could resolve your issues.
A new update with this change is coming soon.

[2016-10-30 04:22] #498 closed, assigned to nobody

[2016-11-03 02:55] TBone311xXx opened #499 "Breaking tank losing fluid"
Forge log link: none available

Problem: evilcraft tank was full, then when broken by another player and replaced, became empty. The fluid that it was full of was ars magica liquid essence.

Expected behaviour: not to be empty when it was full when broken and replaced

Steps to reproduce the problem:
- difficult to reproduce, only happened once, may be tied to it being full when broken
-

[2016-11-03 05:34] rubensworks commented on #499
If you're not able to reproduce it, it will be difficult for me to do so as well.
It's the first time I hear about a bug like this, so I would think this is being caused by something else.

I'll leave this issue open for now until someone is able to reproduce it.

[2016-11-05 03:59] BrelanAllin opened #500 "[1.10.2.0.10.13] No recipe for crushed dark gem."
Trying to use extra utils 2 crusher or immersive engineering crusher.

When checking NEI I see no recipe to make it.

[2016-11-05 10:06] rubensworks commented on #500
No support for these mods exist at the moment.
You probably can add the recipe yourself in the config files of those mods.

[2016-11-08 00:36] fl0ppat opened #501 "Request: Vengeance Ring mob blacklist"
Can you add black list for mob spawn, when Player use VengeanceRing?
Please :^)

[2016-11-08 06:31] rubensworks commented on #501
There is an `entityBlacklist` config option for vengeance spirits, is this sufficient for you?

[2016-11-08 08:56] fl0ppat commented on #501
Yup. This list balance gameplay, because Ring spawn random mobs (wither and other bosses too).
I think some spirits should spawn only after kill.

[2016-11-14 00:47] b0bst3r opened #502 "[1.10.2] Non-Fatal crash on recipe"
Forge log link: http://pastebin.ubuntu.com/23473468/ line 7637

Problem: Found a broken recipe: org.cyclops.evilcraft.core.recipe.DisplayStandRecipe@aa82113
Failed to create recipe wrapper

The display stands in game have no recipe in JEI.

EvilCraft-1.10.2-0.10.14

[2016-11-14 08:54] hiimcody1 opened #503 "Crash when respawning if you have broom in inventory and broom in display stand nearby"
Forge log link: http://pastebin.com/nR57z2SP - latest.log
http://pastebin.com/T8GhBqLY - crash report
Problem:
Crash when respawning after dying with broom in inventory. Display stand that contains another broom is noted in the crash.
Expected behaviour:
Respawn without crashing
Steps to reproduce the problem:
Die with broom in inventory and display stand containing broom nearby, respawn.

[2016-11-14 10:01] rubensworks commented on #503
Ah, a typical world-is-still-loading-while-rendering problem.
I thought Forge would've fixed these by now.
But it's an easy fix, I'll look into it.

[2016-11-15 15:52] #502 closed, assigned to nobody

[2016-11-15 15:54] rubensworks commented on #502
Thanks for reporting! There was an incompatibility with the newer JEI versions.

[2016-11-17 17:48] APolarBaer commented on #489
i think my issue may be Epic Siege Mod aswell then, because im running into this and using Epic Siege

[2016-11-18 08:52] rubensworks commented on #489
@APolarBaer Could you report this issue to the authors of that mod? Be sure to mention this issue thread as well. They might be doing something like angering all mobs in the area all the time, which could cause the invisible vengeance spirits to be angered as well.

[2016-11-22 23:10] APolarBaer commented on #489
https://github.com/Funwayguy/Epic-Siege-Mod/issues/46

[2016-11-22 23:11] APolarBaer commented on #489
https://github.com/Funwayguy/Epic-Siege-Mod/issues/46

[2016-11-24 16:30] #503 closed, assigned to nobody

[2016-12-08 03:58] UnrefinedCatalyst opened #504 "Poison-Sacs Pufferfish, and plurals"
Well, i've had this mod for a while and i was thinking. If you can use poisoned potatoes and poison sacs, why can't we use pufferfish?
 I mean, they poison you when you eat them. you could craft them to make poison sacs, or you can just do the same thing you did with the potatoes.
Maybe you could even make it so that you cut the poison sac out of the pufferfish, and you can eat the pufferfish meat

[2016-12-08 06:54] rubensworks commented on #504
Makes sense, that's an easy thing to add, I can look into doing that.

[2016-12-08 23:29] UnrefinedCatalyst commented on #504
great!

[2016-12-13 07:54] The-Key opened #505 "Spirit Furnace not producing player-only mob drops."
Forge log link:
[log.zip](https://github.com/CyclopsMC/EvilCraft/files/648242/log.zip)

Problem:
Spirit furnace won't produce drops that require a player to kill the mob.

Expected behaviour:
Blazes to produce blaze rods and withers to produce nether stars.

Steps to reproduce the problem:
-Capture a vengeance spirit from a mob that has player only drops.
-Put box in spirit furnace.

[2016-12-13 08:03] rubensworks commented on #505
MC, Forge and EvilCraft versions?

[2016-12-13 12:52] The-Key commented on #505
MC:1.10.2
Forge: 12.18.3.2185
Evilcraft: 0.10.16

[2016-12-16 10:33] #505 closed, assigned to rubensworks

[2016-12-18 19:55] SpartanSamuel opened #506 "Environmental Accumulator's Beam sees through water"
Forge log link: http://pastebin.com/ecPP0GaX

Problem: The Environmental Accumulator's beacon beam allows me to see through water to the riverbed. http://imgur.com/nP6CBOS

Expected behavior: The beam shouldn't see through water.

Steps to reproduce the problem:
-Looked through Environmental Accumulator's beam near a river...?

MC: 1.10.2
Forge: 12.18.3.2185
EC: 0.10.16
CC: 0.8.2

[2016-12-18 20:39] rubensworks commented on #506
Unfortunately, this is not something that can easily be fixed without rewriting significant parts of the MC rendering engine.
Last time I checked, this problem also occurs with vanilla beacon beams and lightning strikes.

[2016-12-18 20:40] #506 closed, assigned to nobody

[2016-12-19 01:17] SpartanSamuel commented on #506
Ah, alright. I understand.

For clarification, though, vanilla beacon beams work just fine. I don't know about lightning strikes.

[2016-12-31 07:34] sharkck opened #507 "Non-Serverbreaking (I think) error found in server console/log"
[fml-server-latest.txt](https://github.com/CyclopsMC/EvilCraft/files/679521/fml-server-latest.txt)

We havent noticed anything gameplay wise that isnt working.  I just noticed this error being spammed in the console and wanted to report it.  I'm not sure when it started or why it's happening.

I can provide further info if needbe.

Running Evilcraft  2.0.10.16 on Forge 2185 MC 1.10.2.

Here is a s

[2016-12-31 13:21] rubensworks commented on #507
Ah, it looks like I'm doing something wrong with sending particles to the client. I'm surprised this doesn't crash servers...

[2016-12-31 13:31] #507 closed, assigned to rubensworks

[2017-01-10 02:28] Morpheus1101 opened #509 "[1.10.2] Client Crash On load with VengeanceRing"
Forge *.2202
EvilCraft 0.10.18

Crash log @ https://puu.sh/th71n/dc41e6ecaf.txt
fml-client-latest @ https://puu.sh/th7e1/2979f7feab.log

[2017-01-10 07:18] rubensworks commented on #509
Does this crash occur only after updating to the latest EvilCraft version?
Can you reproduce this without any other mods installed?

[2017-01-10 08:39] Morpheus1101 commented on #509
Testing with EC on its own and this only occured when i added in OpenComputers & Actually Computers

EDIT:

Tested with EC on its own, works fine .. tested with EC + Opencomputers and Actually Computers an works fine, so id have to run through a mod by mod basis to find out which mod is causing this conflict

[2017-01-10 08:43] rubensworks commented on #509
That crashlog would make me think that one of those mods is shipping an invalid version of Baubles API. Are you aware of Baubles support in either of those mods?

[2017-01-10 08:44] Morpheus1101 commented on #509
Now that you mention it, i think maybe 1 or 2 mods uses that API....id have to check

[2017-01-10 08:49] rubensworks commented on #509
In that case, make sure to report it to their issue tracker as well, because this crash is caused by Forge thinking that Baubles is loaded, while it actually isn't.

[2017-01-10 08:51] Morpheus1101 commented on #509
Im going to close this issue here as this from further testing is clearly not EC bug, but more what ever mod has the API, as disabling EC an c.Core just causes a baubles crash issue in another mod which im going to assume will be the case if i also disable that mod an so on an so forth.

[2017-01-10 08:53] #509 closed, assigned to rubensworks

[2017-01-12 12:34] Pynter opened #510 "Crash when entering Nether Minecraft 1.11.2"
Forge log link: http://pastebin.com/ny3W3nQY

Problem: Crash when entering Nether

Expected behaviour: Not Crashing when entering Nether

Steps to reproduce the problem: Have this mod installed and entering the Nether, it might be only on my hardware but I installed this mod with only Cyclops Core and Forge 13.20.0.2213, made sure I had the latest drivers on everything but it still crashed.
-
-

[2017-01-17 19:42] #510 closed, assigned to rubensworks

[2017-01-18 02:29] Amamiya-Nagisa opened #511 "[1.11.2]Server crashed when some in the nether"
Forge log link:http://pastebin.com/WETe9p5W

Crash-report:http://pastebin.com/YKdEv9TF

Problem:Server crashed when some in the nether

Steps to reproduce the problem:
-Go to the nether

[2017-01-18 07:09] rubensworks commented on #511
Duplicate of #510.

@Amamiya-Nagisa Please always check the closed issues before reporting a new one.

[2017-01-18 07:09] #511 closed, assigned to nobody

[2017-01-20 13:34] kreezxil commented on #510
Happens when entering the nether.

in version 1.11.2-0.10.17

server crash log: https://gist.github.com/ProsperCraft/8fad1b93b2f900ed45b37bd1a44dd377

I see you say the bug is closed but the last time mod was updated on CurseForge was January 4, it is now January 19, almost a full 2 weeks later.

Cheers!

[2017-01-20 13:35] rubensworks commented on #510
@kreezxil That's correct, the fix was only implemented three days ago.

[2017-01-20 19:15] rubensworks commented on #499
Not reproducible.

[2017-01-20 19:15] #499 closed, assigned to nobody

[2017-01-20 19:16] rubensworks commented on #489
Seems to be caused by the Epic Siege Mod, not much I can do about it from my end.

@APolarBaer I'm subscribed to the issue you created, so I'll know if the Epic Siege Mod author needs anything from my end to fix this.

[2017-01-20 19:16] #489 closed, assigned to nobody

[2017-01-20 19:17] rubensworks commented on #482
Assuming fixed.

[2017-01-20 19:17] #482 closed, assigned to nobody

[2017-01-21 01:45] ProsperCraft commented on #510
I think what he is trying to say is we need a 1.11.2 version, there appears to be a 1.10.2 bit. It 1.11.2 updated version.

Thank you as this will help us to not have the server crashing when people go there.

[2017-01-26 03:44] Divineaspect opened #512 "Rain based crash on server"
Crash Report:
Not using the latest.log because auto rebooting server keeps wiping it.
https://gist.github.com/Divineaspect/c99ddfd3077849f16b053cc61558dba8

Problem: Crash when raining on server when joining.

version: 0.10.18

[2017-01-26 07:50] rubensworks commented on #512
I'm probably going to need the full log.

[2017-01-27 15:07] shortybsd opened #513 "[1.11.2] [EvilCraft-1.11.2-0.10.18] Cannot feed passive animal Darkened Apple"
Minecraft 1.11.2
Forge 2223
EvilCraft-1.11.2-0.10.18

Cannot feed an animal a Darkened Apple. Only way I was able to get the book is to suicide by eating the Darkened Apple then another player throw a book on the orb coming off my corpse, then visa versa.

[2017-01-27 15:09] rubensworks commented on #513
Oops, this mod is not meant to be _that_ evil.

[2017-01-27 17:54] shortybsd commented on #513
LOL ! <3

[2017-01-29 09:27] rubensworks commented on #512
@Divineaspect Could you send me the full log please, because there's nothing I can do with just this.

[2017-01-29 09:37] rubensworks commented on #513
I can't reproduce this, seems to work just fine for me.
What animals did you try this on?

[2017-01-29 09:37] #513 closed, assigned to rubensworks

[2017-01-29 14:08] #504 closed, assigned to nobody

[2017-01-30 00:49] shortybsd commented on #513
Pig, Sheep, Chicken & Cow.

[2017-01-30 06:29] rubensworks commented on #513
@shortybsd This could be a mod conflict issue. Can you try it without any other mods installed? Except for EvilCraft and CyclopsCore?

[2017-01-30 15:00] shortybsd commented on #513
I will once I get home from work. I have no other animal mod that does anything with them so I am lost on which mod to assume is conflicting with yours. If I have enough time, I will load each of the mods to figure out which one it is, unless a list would help you.

[2017-02-02 00:38] Sean-Amor opened #514 "Request"
I'm in the very fetal stages of learning to mod, it's a stretch but I'd love to see if you could make a separate mod that only has the broom, no parts or anything like that just a broom that can be picked from creative, and flown, no "energy" required. Perhaps there can be a weak broom, and a fast broom. Then post it's source on a github page? I can see how you have the broom, but all the parts, a

[2017-02-02 07:29] rubensworks commented on #514
The broom will remain part of this mod, I won't be extracting this, or at least not any time soon. Sorry.

[2017-02-02 07:29] #514 closed, assigned to nobody

[2017-02-03 16:46] Discomanco opened #515 "Dark Ore missing texture (Quarry Silk Touch)"
Forge log link:
-

Problem:
Dark Ore is missing all texture when taken from a Quarry with Silk Touch (Digital Miner with Silk Touch, RFTools Builder with Silk Touch Quarry card)

Expected behaviour:
Should have texture, just like when mined with Silk Touch Quarry

Steps to reproduce the problem:
- Get any Quarry that can have Silk Touch (RFTools Builder, Mekanism Digital Miner)
- Let it mine Dark

[2017-02-05 10:13] rubensworks commented on #515
I thought I fixed this before already, may be a regression.

[2017-02-06 05:27] ProsperCraft opened #516 "[1.11.2] Server crash when placing condensed blood in a blood infuser."
Crashlog-
https://gist.github.com/ProsperCraft/902cccde3d1ced54f9b97a4e263342ea

Steps to reproduce the problem:
-Place condensed blood in a blood infuser.
-

[2017-02-06 18:56] #516 closed, assigned to rubensworks

[2017-02-08 02:56] Divineaspect opened #517 "World is crashing while pregenerating."
Forge log link:
https://gist.github.com/Divineaspect/ccd158924da45d50ecf55e4ac322f820

Crashreport: https://gist.github.com/Divineaspect/19df56860c148f26d50d0d5e3025d767

Problem: World is crashing while pregenerating.

Expected behaviour: Not Crashing

Steps to reproduce the problem: Generating the world and it gets to evilcraft content.
using the latest test version of the Wanderlust Renewed pac

[2017-02-08 07:54] rubensworks commented on #517
It's crashing on loot chest generation, so it's possible that another mod is causing this, but I'll look into it.

[2017-02-08 16:19] Divineaspect commented on #517
I appreciate your attention to this issue.

[2017-02-11 03:28] Hjaldar opened #518 "Suggestion: Exalted Crafter inventory automation"
**Background:** I use the wooden exalted crafter (wooden chest) as my hotkey-enabled mobile crafting solution of choice. I keep the internal inventory manually filled with stacks of my most commonly used crafting materials so I can craft all sorts of items wherever I am. I didn't use the exalted crafter (ender chest) until recently because it provides no practical improvement over the wooden exalt

[2017-02-11 10:20] rubensworks commented on #518
Good ideas! I've been tinkering with the idea of an Entangled Chest for a while now as well. I'll definitely implement something like this, the big question is just when...

[2017-02-11 10:31] Hjaldar commented on #518
Great to hear. I look forward to seeing what you come up with when you get some time.

[2017-02-11 20:53] zerowily opened #519 "Uncraftable and Useable broom"
Forge log link: http://pastebin.com/3HSzLpzE

Problem: I was trying to create a broom now that I need to gather popped Chorus fruit and End Crystals I crafted a feather brush and a bone rod with a dark power gem cap. Upon putting these in my crafting bench or exalted crafter, I did not get the completed recipe for the broom I was trying to make. I tried a diamond cap and a dark gem cap and it stil

[2017-02-11 21:02] rubensworks commented on #519
I remember that I haven't tested this yet when porting to 1.11, which explains these issues...
I'll look into it soon.

[2017-02-11 21:04] zerowily commented on #519
Thanks!

[2017-02-13 19:35] rubensworks commented on #517
@Divineaspect It looks like a mod you are using is causing a loot table entry with a `null` Item, which causes this crash.
This is not an EvilCraft issue, since this crash would also occur with regular vanilla loot chests.
I suggest that you try removing mods to see which one causes the issue. I know, these problems are hard to debug...

[2017-02-13 19:35] #517 closed, assigned to rubensworks

[2017-02-13 19:53] rubensworks commented on #515
This is caused by RFTools and Mekanism, and has been reported.

[2017-02-13 19:53] #515 closed, assigned to rubensworks

[2017-02-13 21:46] Divineaspect commented on #517
Thank you for the time put into this.

[2017-02-15 19:50] rubensworks commented on #519
Related: db96a6afc44fa6a07269c83e504c4eba34d49e24

[2017-02-15 19:50] #519 closed, assigned to rubensworks

[2017-02-18 20:58] Runesmacher opened #523 "Add book chapter on IE"
Because there is IE compat now, it needs a chapter in the book.

[2017-02-19 13:40] Runesmacher commented on #500
Added support for Immersive engineering with #525
And support for the EnderIO SAG Mill with #526

Support for extra utilities 2 might be added later

[2017-02-19 21:38] rubensworks commented on #500
Thanks @Runesmacher

[2017-02-19 21:38] #500 closed, assigned to nobody

[2017-02-19 21:43] rubensworks commented on #512
Closing due to inactivity.

[2017-02-19 21:43] #512 closed, assigned to nobody

[2017-02-22 16:03] ghost opened #527 "[1.10.2] water -> Blood exploit"
Forge 2221
Evilcraft 1.10.2-0.10.19

I'm making a modpack that has evilcraft in it, but one of my testers found the following exploit yesterday. Hopefully the GIF he recorded is self explanatory

[https://dl.dropboxusercontent.com/u/29361581/Screenshots/2017-02/2017-02-22_02-57-53.mp4](https://dl.dropboxusercontent.com/u/29361581/Screenshots/2017-02/2017-02-22_02-57-53.mp4)

[2017-02-22 16:04] rubensworks commented on #527
Oh, that's not good...

[2017-02-25 03:17] Legegends opened #528 "You can use the blood to make obsidian in the nether."
is not like a bug, but blood acts like water in the nether.

[2017-02-25 03:18] Legegends opened #529 "Some ideas"
Just some Ideas:
Make some kind of boss "vengeance spirit" something to upgrade your mod to something more big, its made by the "spirit's crystalized will" (Realy hard to get without the correct weapons).

Make a kind of blooded magic thing (not like bloodmagic) but more like Thaumcraft or Ars Magica 2, with the blood as the main base or element.

So you will use the vengeance spirits to strengthe

[2017-02-25 09:02] Unrepentant-Atheist opened #530 "Can't use blood from Evilcraft in Blood Magic altars!"
How come I can't use the blood from Evilcraft in my Blood Magic altars, even though it's part of the blood network?

https://imgur.com/a/78YkS

[2017-02-25 10:58] FuriousT commented on #519
Hi!

I have a similar problem. I'm running my own server with 12 mods, my minecraft version is 1.11.2 and evilcraft is 0.10.17.

Is this already fixed somehow? We would like to create our own brooms.

I'm sorry if it's fixed already, but I could use simple instructions, since I'm not so good with running my own server.

[2017-02-25 17:04] voidswrath opened #531 "1.7.10. 0.9.12 Thermos Crash"
SOLVED. Sorry

[2017-02-25 17:19] #531 closed, assigned to nobody

[2017-02-26 08:02] rubensworks commented on #528
I think most mod fluids act like this. I can take a look at it, if I can easily disallow this. If not, I'll just keep it like this.

[2017-02-26 08:05] rubensworks commented on #530
That's normal, because the blood you extract there is EvilCraft blood, not BM's life essence. BM probably has a way to load soul network life essence into the altar. Otherwise, you could use the Fluid Converters mod to convert blood into life essence.

[2017-02-26 08:05] #530 closed, assigned to nobody

[2017-02-26 08:06] rubensworks commented on #519
@FuriousT Fixed in dev, to be released.

[2017-02-26 08:17] #527 closed, assigned to rubensworks

[2017-02-26 12:35] rubensworks commented on #528
This is default vanilla behaviour for all liquids that interact with lava, won't fix.

[2017-02-26 12:35] #528 closed, assigned to rubensworks

[2017-02-26 19:55] Legegends commented on #529
now about the weapons:
Is not like they are just a blooded pickaxe or sword, nope, is something that is just cool is like this.

"When I fused the blood with my spirit, I discovered that I can control the blood somehow for now I just can make a bit of the blood levitate in the air for a few seconds its strange but I feel that I can use it for more.
**Alot of resarch after**
So I researched more ab

[2017-02-26 20:17] Legegends opened #532 "Tinkers crash and some upgrades that I put in the tool disapear when I use the blood chest."
I don't know if someone have posted this but here we go.

if you have a tinker tool, with like

Redstone 29/80 its somehow just disapear if you put in the blood chest.
and have a lot of crash when I put a tinker tool in the tank, if I stay with no inventory or chest open don't crash
I think this is because the chest some times try to put vengeance in the tinker tool.

and if you put a broken weapo

[2017-02-27 02:01] kragnoth opened #533 "Lightning striking villagers causing crash when werewolves disabled."
Forge log link: http://pastebin.com/z7MFg8jS

Problem: Crash on villager struck by lightning.  Null pointer exception occurs, as I have werewolves disabled, and it is trying to change the villager profession to a non-registered profession.

Expected behaviour: Villager turned into werewolf profession if config is enabled, villager turned into witch if config is disabled

Shoot lightning at village

[2017-02-27 14:51] Legegends commented on #529
man I gonna be realy happy if one or two of my ideas can be in the mod, because this will be realy cool (like the weapons one is one of I'm want the most).

[2017-02-27 16:39] Legegends opened #534 "More ideas."
** Resarch**

Is something like the thaumcraft but not with aspects or something close to, I came up to it because your mod looks a way smaller than it shoud be (what? you ask) is like your mod is cool and have realy useful items and machines but is like

**This is just boring and to easy to make so my idea is**:

you need to resarch about the thing that you want, and this is like
if you put blood

[2017-02-27 16:43] rubensworks commented on #534
I'm glad you are motivated like this, but chances are pretty small that I'll every get around to implementing these ideas.
I still have a massive list of things I want to implement into this and other mods. That list will probably take multiple lifetimes to implement at the rate at which I can develop new features lately.

[2017-02-27 16:45] Legegends commented on #534
man is all up to you I realy want to help, but I don't know how to code so I come with those ideas.

[2017-02-27 17:51] kragnoth commented on #533
btw, if you want an easy way to test this, grab Psi or write a test mod that lets you shoot lightning bolts.  I only noticed it because crops get hit by lightning randomly in my custom modpack, and I kept randomly crashing.

[2017-02-28 03:34] Legegends opened #535 "Brazilian-Portuguese Translation ?"
If you want I can help with that (I'm from Brazil so its more easy for me).

[2017-02-28 07:04] rubensworks commented on #535
I don't know that language, but feel free to send a PR.

[2017-02-28 07:04] #535 closed, assigned to nobody

[2017-02-28 13:53] rubensworks commented on #532
@bonii-xx, this crash seems to occur when invoking `ItemStack#copy` on a TCon tool.
Any ideas what could cause this? Perhaps an update to the `ItemStack` from the network/render thread?

[2017-02-28 13:55] #523 closed, assigned to rubensworks

[2017-02-28 13:55] #533 closed, assigned to rubensworks

[2017-03-01 15:48] bonii-xx commented on #532
From the stacktrace it looks like a perfectly save call. Itemstack.copy works fine otherwise too, it's often used in TiC. TiC doesn't use custom packets for tool data, and vanilla only syncs it during the update phase of the world, which is in the same thread as update TE. If I had to guess I'd say something else is interfering with it, try reproducing with only a EvilCraft and TiC/Mantle.

[2017-03-01 15:53] rubensworks commented on #532
@bonii-xx Ok, thanks for your input!

Chances are big that another mod is indeed causing is, because I'm not able to reproduce it myself with just EC and TiC. @O-Barbaro-Desenhista Could you try it on your end with just these mods?

[2017-03-01 17:04] tommyTT opened #536 "Upgraded dark tank only retains part of the stored fluid when broken"
Forge log link:
https://hastebin.com/ruwodatubi.md

Problem:
A upgraded dark tank only retains 16 buckets of its fluid when breaking the tank.

Expected behaviour:
Tank retains all of the fluids when breaking it.

Steps to reproduce the problem:
- Upgrade a dark tank (I crafted two together).
- Place the tank down and fill it with more than the initial 16 buckets of any fluid (I used lava).
- Brea

[2017-03-03 23:19] Legegends commented on #532
I tried

**First try**
Can't even repair the weapons, but I get a silly graphical bug using the creative blood drop Here:
![2017-03-03_19 42 26](https://cloud.githubusercontent.com/assets/24391537/23571737/a47a55ea-0049-11e7-889c-2d9d01715998.png)

**Second try**
Added TinkersToolLeveling.
And it started to repair the tools(realy don't know how), and no crash and no redstone or buff added to the t

[2017-03-04 10:51] rubensworks commented on #532
@O-Barbaro-Desenhista No worries.
If you're up for it, you could try adding mods from your pack until it breaks. This should allow you to detect the mod that breaks it.

[2017-03-11 13:26] rubensworks commented on #536
Fixed in EvilCraft `0.10.21`.

[2017-03-11 13:26] #536 closed, assigned to rubensworks

[2017-03-12 07:34] #532 closed, assigned to rubensworks

[2017-03-12 19:19] mikromax0 opened #538 "Undefined function called resulting in crash"
* Forge log link:

Minecraft log: https://paste.ee/p/GUerh
Forge log: https://paste.ee/p/UXzQe
Crash log: https://paste.ee/p/3mmke

* Problem:

Crash on world load implicating EvilCraft / Cyclops Core. Cyclops Core appears to call an unimplemented function, resulting in the crash:

org.cyclops.cyclopscore.inventory.PlayerExtendedInventoryIterator.setBaublesStack()

* Expected behaviour:

No crash

[2017-03-13 09:53] rubensworks commented on #538
Ah, the Baubles mod seems to have changed its mod id to lowercase in 1.11, will be an easy fix.

[2017-03-15 07:36] mezz opened #539 "Recursive Worldgen Issue"
Hey,

In Forge 1.11.2 - 13.20.0.2258 there is a new detection for worldgen features that load new chunks and cause more worldgen.
This can cause a lot of lag when loading new chunks. [I wrote a post about the issue here.](https://www.reddit.com/r/feedthebeast/comments/5x0twz/investigating_extreme_worldgen_lag/)

You can debug this by grabbing the latest Forge, creating a new world or flying around

[2017-03-15 07:47] rubensworks commented on #539
Thanks for reporting this, I'll look into it.

[2017-03-16 02:01] MrManNo1 opened #540 "[1.11.2] [0.10.21] Wither not dropping Nether Stars in Spirit Furnace"
Problem:
Wither spirit doesn't give Nether Stars in the Spirit Furnace.

Expected behaviour:
Wither spirit should give Nether Stars in the Spirit Furnace.

Steps to reproduce the problem:
Capture a Wither in Box of Eternal Closure. Place in correctly sized Spirit Furnace. Progress bar increases, but never drops a Nether Star.

[2017-03-21 14:58] starg09 opened #541 "[1.11.2][0.10.21] Naturally generated Dark Ore has no texture when mined with a silk touch pickaxe"
Forge log link:

Problem: Mining a naturally-generated Dark Ore with a Silk Touch pick drops a ore item with a broken texture/model. This happens when mining them both manually (regardless of the pick used, can be replicated with vanilla), or with a machine like RFTools' Builder. Manually placed ores (given through creative tab, or through JEI if installed) don't seem to have this issue. As a note

[2017-03-22 16:24] #539 closed, assigned to rubensworks

[2017-03-22 16:47] #538 closed, assigned to rubensworks

[2017-03-23 19:22] #540 closed, assigned to rubensworks

[2017-03-25 05:33] Lothrazar opened #542 "1.11.2: if i disable a few items from config, the game crashes when making the book"
Forge log link: http://pastebin.com/jgWh6XKb

Problem:
I disabled a few items in the config file. Then the game crashed on startup.  Relevant line is
java.lang.NullPointerException
	at org.cyclops.evilcraft.infobook.OriginsOfDarknessBook$2.create(OriginsOfDarknessBook.java:69) ~[OriginsOfDarknessBook$2.class:?]

Expected behaviour:
Game starts up with those items disabled, and dont show up in the

[2017-03-25 08:49] rubensworks commented on #542
Probably a simple `isEnabled` check that must be added, will look into it soon.

[2017-03-26 14:50] raspopov opened #543 "Wrong string "broom.parts.evilcraft.cap_gem_dark_power.name""
File "en_US.lang" contains a "broom.parts.evilcraft.cap_gem_dark_power.name" but mod itself uses a "broom.parts.evilcraft.cap_gem_darkpower.name" (without underscore in "darkpower").

EvilCraft-1.11.2-0.10.22

[2017-03-26 23:36] starg09 commented on #541
Seems like this still happens on release 0.10.22 for MC 1.11.2

[2017-03-27 05:48] rubensworks commented on #541
@starg09 Is this occurring in newly generated chunks? Because the bug was caused by invalid blockstates during worldgen, so any previously generated chunks will still have the problem.

[2017-03-27 11:24] starg09 commented on #541
Tested it on a brand new world, clean instance with only forge (2260),
newest evilcraft (on mobile rn, the one with the fix on CF), and using
vanilla tools.

El 27 mar. 2017 8:15 AM, "Ruben Taelman" <notifications@github.com>
escribió:

@starg09 <https://github.com/starg09> Is this occurring in newly generated
chunks? Because the bug was caused by invalid blockstates during worldgen,
so any previo

[2017-03-27 14:28] rubensworks commented on #541
Strange, I tested this right before the release, and it worked just fine then.
Maybe I did something stupid, I'll look into it.

[2017-04-03 18:54] KorDum opened #545 "[1.7.10] Infinity blood in Blood Chest"
Problem:
2+ IC2Exp Universal Fluid Cell with blood in Blood Chest doesn't spend blood in capsules.

Expected behaviour:
Infinity blood.

Steps to reproduce the problem:
- Stack of Universal Fluid Cell with blood put into Blood Chest
- Put broken item (with damage) into Blood Chest
- Endless blood repair broken item. Enjoy and cry.

[2017-04-08 07:14] greenking13 opened #546 "Infinite Blood Dupe"
Forge log link: Not a crash

Problem: I'm pretty certain I just found a blood dupe with your mod and blood magic.

Expected behaviour: The amount of blood inside the blood infuser plus the amount in the blood drop should be equal to the amount inside the blood infuser plus the blood drop after removing blood via shift right click method.

Steps to reproduce the problem:
1. Acquire Bound Blood Drop

[2017-04-08 07:15] greenking13 commented on #546
As an added bonus tidbit... should you be able to exceed the set max of 250,000mb? Because I now have 267,233mb in it.

[2017-04-08 07:16] greenking13 commented on #546
Also, apologies for not stating the MC version in the title, it's MC 1.10.2.

[2017-04-20 04:58] rubensworks opened #547 "Spiked plate produces no player drops"
Apparently, blaze rods aren't dropped from blazes.
To be investigated.

[2017-04-20 14:55] #543 closed, assigned to rubensworks

[2017-04-20 15:20] rubensworks commented on #546
Yes, it's normal that you can exceed the maximum amount, but only if it is being filled externally via the BM Soul Network.

[2017-04-20 16:17] #542 closed, assigned to rubensworks

[2017-04-20 16:17] #546 closed, assigned to rubensworks

[2017-04-20 16:17] #547 closed, assigned to rubensworks

[2017-04-20 17:49] #541 closed, assigned to rubensworks

[2017-04-20 18:03] #545 closed, assigned to rubensworks

[2017-04-23 23:45] ApostolosRisen opened #548 "Mekanism digiminer issue"
the dark ore from this mod will not be mined by the digiminer although it is found in the ore dictionary  and registered in the digiminer
![image](https://cloud.githubusercontent.com/assets/26664327/25318454/43d4ab00-285d-11e7-9c1c-cb9fcf63b89d.png)
this is cross posted on the mekanism page as well
any help would be appreciated

[2017-04-24 05:13] rubensworks commented on #548
For reference: aidancbrady/Mekanism#4338

[2017-04-25 16:01] rubensworks commented on #548
Related to #541 and will therefore be fixed in the next EC release.

[2017-04-25 16:01] #548 closed, assigned to rubensworks

[2017-04-25 19:20] IchigoGames opened #549 "xceptionModCrash: Caught exception from EvilCraft"
Forge log link: https://www.dropbox.com/s/aqo32lafzm06qy9/latest.log?dl=0

Forge 2282

minecraft 1.11.2

crash report https://pastebin.com/M0PpnHxH

Problem: crashing with ic2

Expected behaviour: not crashing

Steps to reproduce the problem:
- add forge

-add EvilCraft

-add ic2

CyclopsCore-1.11.2-0.10.2
EvilCraft-1.11.2-0.10.23
does not work with
industrialcraft-2-2.7.12-ex111
not sure if this

[2017-04-25 19:21] rubensworks commented on #549
It looks like they made a constructor private, I'll have to push a new fix for that.

[2017-04-25 19:32] #549 closed, assigned to rubensworks

[2017-04-25 19:32] rubensworks commented on #549
New EC update is pending on CurseForge.

[2017-04-29 16:19] Kahra opened #550 "[1.7.10] No start-up with CloneCraft"
Forge log link: https://pastebin.com/y3ChGHsg

Problem:
On 1.7.10, EvilCraft seems to conflict with CloneCraft. When both are present, the launcher is stuck at the step 5/7
"Loading - Initializing mods Phase 3" on the
"PostInitialization - CloneCraft".
So, it might be on CloneCraft side but I don't know if you have a clue of the origin ? (as CloneCraft'dev seems pretty busy atm)

Expected behaviou

[2017-04-29 16:23] rubensworks commented on #550
Something is going wrong in CloneCraft, not much I can do from my end unfortunately.
You should report it to the CloneCraft developer.

[2017-04-29 16:23] #550 closed, assigned to nobody

[2017-04-29 19:46] Kahra commented on #550
Ok, thx for the quick answer

[2017-05-05 20:55] rubensworks opened #551 "Necromancer Staff target entity can hit player"
The target entity can hit the entity player, which causes the mobs to attack the player.

[2017-05-06 17:49] #551 closed, assigned to rubensworks

[2017-05-14 14:17] DSLM opened #552 "the blood and poison in the tanks have no name"
![2017-05-14_10 13 58](https://cloud.githubusercontent.com/assets/12635058/26034698/8686b54c-388e-11e7-8363-c05cbe5577aa.png)
![2017-05-14_10 16 12](https://cloud.githubusercontent.com/assets/12635058/26034703/90d2ffce-388e-11e7-848a-b3ddcfc5a72e.png)

[2017-05-14 19:36] rubensworks commented on #552
Ah yes, this was something I broke in the last CC update.
I already fixed in dev and will be included in the next CC release: CyclopsMC/CyclopsCore@e59987d852566d942affb3cc933ec081455d9ace

[2017-05-14 19:36] #552 closed, assigned to nobody

[2017-05-22 04:01] DSLM opened #554 "broom problem"
1. When craft a broom part, you can use any broom part as bare part to craft (ex. 2 diamond and a bare part can get a diamond cap)
2. When you ride broom to the ceiling, you will suffocate.

[2017-05-22 16:02] #554 closed, assigned to rubensworks

[2017-05-22 16:02] rubensworks commented on #554
Fix for 1 will be included in the next release.
2. is intended, following the vanilla behaviour when riding horses.

[2017-05-22 17:08] DSLM commented on #554
OK, thx

[2017-05-25 17:55] Rovinion opened #555 "Necromancer Staff does not spawn zombies in 1.11.2"
Problem:
I right click the staff, the skull hits the target, and nothing happens
Expected behaviour:
I right click the staff, the skull hits the target, and zombies spawn and attack the target
Steps to reproduce the problem:
-load minecraft 1.11.2 with evilcraft
-try to use the necromancer staff on an animal

[2017-05-25 21:21] DSLM opened #556 "How can I make twig brush in the game?"
Is it incompleted, or needed some other mod?

[2017-05-26 03:36] DSLM opened #557 "Bound Blood Drop Problem"
1. Bound Blood Drop will take out 6000mb blood from Purifier when there is 3000mb blood inside. (other containers work normally)
2. Bound Blood Drop looks like only 250000mb room for blood, but if it's full, it still can put blood in.
3. Bound Blood Drop can have more blood than the limit of Blood Magic Orb level.

[2017-05-26 06:02] rubensworks commented on #557
1 sounds like a bug.

2 and 3 are intended.

[2017-05-26 06:04] rubensworks commented on #556
Should just be a regular crafting recipe. I'll have a look to see if it's broken.

[2017-05-26 06:33] #557 closed, assigned to rubensworks

[2017-05-26 06:34] rubensworks commented on #556
It looks like the recipe got lost somewhere, fixed in 1059dd943ab8ae91cb479a103b0bd1f65efa9683.

[2017-05-26 06:34] #556 closed, assigned to rubensworks

[2017-05-26 07:01] #555 closed, assigned to rubensworks

[2017-05-26 11:46] DSLM commented on #557
thx

[2017-05-29 06:49] belathus opened #559 "Mobs do not create bloodstained blocks when they die from fall damage"
Forge log link:
https://gist.github.com/belathus/89db0fd2ae5e684bb279da8b6c4d7b78

Problem:
Mobs that fall to their death do not seem to create blood stained blocks.

Expected behaviour:
Blood stained blocks with 20mb per hp that can be sucked up by the sanguinary altar

Steps to reproduce the problem:
-Ensure the blood stained blocks are turned on in configs
-build mob spawner high in the air
-dr

[2017-05-31 11:14] belathus opened #560 "Allow Spirit Furnace mob drop overriding via config file"
Forge log link:
https://drive.google.com/file/d/0B49aLxlzNByoZUNYMTVBRFFNNzQ/view?usp=sharing

Problem:
I attempted to place an Ovis Atir from @An-Sar's PrimalCore into the spirit furnace to get their wool. I heard the sounds of them dying, but nothing appeared in the outlet slots. I then attempted to put a cyberzombie (from @Flaxbeard's Cyberware) into the spirit furnace and only got vanilla drop

[2017-05-31 14:03] rubensworks commented on #560
If the mobs are using the JSON-based loot files they should work.
Special cases should be manually added using the spirit furnace drops overrides in the config file, for which an example is added for villagers dropping emeralds.

[2017-05-31 14:10] belathus commented on #560
This line?
[code]

[2017-05-31 14:17] rubensworks commented on #560
Hmm, no, that's not it.
There should be something related to spirit drop overrides.

I'm on the road now, so I can't check myself.

[2017-05-31 15:00] belathus commented on #560
I'm not having much luck finding overrides for the spirit furnace.

Sadly, many mods don't seem to be using the JSON based drop lists. If an entity doesn't have a loot table written for it already, is it possible to add one for it without modifying the mod, or does need to reference a loot table for it to produce drops from it?

[2017-05-31 21:43] Mxater opened #561 "Undead Tree dont drop blood"
Problem:
Undead Tree dont drop Blood, I using EvilCraft 0.10.26, MC 1.11.2.

![2017-05-31 17_40_23-minecraft 1 11 2](https://cloud.githubusercontent.com/assets/4630666/26655400/a6e5437e-4628-11e7-8020-0e89e00aab46.png)

[2017-06-01 11:51] rubensworks commented on #560
It looks like EC doesn't provide a way to override mob drops via the config file, but it does via IMC.
Perhaps I should look into adding functionality for that...

[2017-06-05 06:21] #559 closed, assigned to rubensworks

[2017-06-05 06:21] #561 closed, assigned to rubensworks

[2017-06-05 23:06] IchigoGames opened #562 "Mobs over-spawning in overworld and not spawning in nether due to EvilCraft"
Forge log link :https://www.dropbox.com/s/1tlaxqgc5ym6s3k/latest.log?dl=0 i dont think this will help but here you go.
Problem: with EvilCraft-1.11.2-0.10.26 and CyclopsCore-1.11.2-0.10.4  mobs are over spawning in the overworld and mobs in the nether like blaze and wither skeleton are not spawning but with CyclopsCore-1.11.2-0.10.3 and EvilCraft-1.11.2-0.10.25 it seems to work fine.
Expected beha

[2017-06-05 23:34] IchigoGames commented on #562
hopefully you can find out why this happens if not ill have to stay with older EvilCraft in my pack

[2017-06-06 05:12] rubensworks commented on #562
Can you reproduce this with just EC and CC installed?
Nothing much has changed between version 25 and 26, so EC is unlikely to be the cause of this.

[2017-06-06 08:00] IchigoGames commented on #562
may have been a false flag back to the drawing board for me.

[2017-06-06 08:00] #562 closed, assigned to nobody

[2017-06-06 18:04] belathus commented on #559
\o/

[2017-06-11 04:58] NarwhalJenkins opened #563 "[Question] Does the 1.7.10 version have minetweaker support?"
I want to use the blood altar and weather for crafting other items. Thanks in advance.

[2017-06-11 06:14] rubensworks commented on #563
No, 1.7.10 is not receiving any new features at the moment, only bug fixes.
Please use 1.11.2, as 1.7.10 is already 4 years old.

[2017-06-11 06:14] #563 closed, assigned to nobody

[2017-06-12 09:45] esotericist opened #564 "Bound Blood Drop has incorrect recipe on 1.11.2"
In the current version of evilcraft(EvilCraft-1.11.2-0.10.26.jar), both the mod ID and the item ID for the bound blood aren't correct, making the blood drop not craftable (although it still works correctly if you cheat one in).

The relevant section of bloodinfuser_mods.xml should probably read (and this is what I'm currently using in my _overrides folder):

    <recipe type="evilcraft:bloodinfuse

[2017-06-12 09:47] rubensworks commented on #564
Thanks, I'll update the recipe with your version soon! :-)

[2017-06-12 09:47] esotericist commented on #564
Wow, that was fast!

[2017-06-14 08:15] #564 closed, assigned to rubensworks

[2017-06-14 08:43] #560 closed, assigned to rubensworks

[2017-06-15 20:11] Caopr opened #565 "Unable to craft Bound blood drop"
Trying to click for the recipe nothing happens. UNable to place blood orbs in the infuser either

I looked around in bloodinfuser_mods.xml and found this which might be it

            <item>bloodmagic:bloodmagic:itembloodorb</item>
should just be
            <item>bloodmagic:itembloodorb</item>

I tested this change and was able to use the Tier 1 orb to make the Bound blood drop.

p.s. Love the m

[2017-06-15 20:13] rubensworks commented on #565
:man_facepalming:
Apparently my fix for #564 failed horribly.
Will fix in the next update.

[2017-06-18 10:44] #565 closed, assigned to rubensworks

[2017-06-23 23:15] LemADEC opened #566 "Entities registered globally instead of per mod"
Forge log link: n/a

Problem:
As of EvilCraft-1.7.10-0.9.13, according to NEI Integration dump, entities are registered globally instead of being attached to EvilCraft:
![image](https://user-images.githubusercontent.com/4776032/27503217-87aaa512-587a-11e7-8ebc-f2623fd1e4e7.png)

Expected behaviour:
Register entities per mod.

[2017-06-24 06:54] rubensworks commented on #566
I don't think this causes any problems, right?

Unfortunately, I don't support 1.7.10 anymore, as 1.11.2 is my main target now.

[2017-06-24 06:54] #566 closed, assigned to nobody

[2017-06-24 07:34] LemADEC commented on #566
it can cause conflict with other mods and it makes it more complicated to filter by mod.
Are you confident it's fixed in 1.11.2?

[2017-06-24 15:44] rubensworks commented on #566
@LemADEC Yes: https://github.com/CyclopsMC/CyclopsCore/blob/master-1.11/src/main/java/org/cyclops/cyclopscore/config/configurabletypeaction/MobAction.java#L33-L36

[2017-06-30 13:18] SageStarCodes opened #567 "[1.7.10][0.9.13] Origins of Darkness rendering incorrectly"
The Origins of Darkness renders incorrectly in the 0.9.13 version for Minecraft 1.7.10.

Forge version is 10.13.4.1614

Screenshot: http://puu.sh/wy7nj/b4fa8e59ad.png

[2017-07-01 07:54] rubensworks commented on #567
1.7.10 is not supported anymore, unless major bugs would appear.

Go play 1.11.2 or something :-)

[2017-07-01 07:54] #567 closed, assigned to nobody

[2017-07-01 17:04] NEXUS2345 opened #568 "Forge version issue with 1.7.10"
Could you please update the mod to use Forge build 1558 or higher for 1.7.10 seeing as that is recommended. 1614 would be even better. The lack of support for Forge builds higher than 1472 means your mod is difficult to use in modpacks unless you use outdated versions of other mods.

[2017-07-02 21:47] SageStarCodes commented on #567
Our modpack that has 310+ mods will remain on 1.7.10 because that is the last version we feel like playing Minecraft and not something broken and weird, thank you. Would you accept a PR if I tried to fix the broken rendering?

[2017-07-02 21:51] SageStarCodes commented on #568
@NEXUS2345 we use 1614 with no problem except #567, what problems are you having? (we have 310+ mods so I'm 99% sure you are doing something wrong)

[2017-07-02 21:53] NEXUS2345 commented on #568
We kept experiencing crashes with NoClassDefFound exceptions from EvilCraft and we came to the conclusion it was likely to do with the fact the mod was compiled against Forge 1472 rather than the recommended 1558.
________________________________
From: Samuel Fichna <notifications@github.com>
Sent: Sunday, July 2, 2017 10:51:03 PM
To: CyclopsMC/EvilCraft
Cc: Joshua Gregory; Mention
Subject: Re: [C

[2017-07-03 00:37] heyoomimi opened #569 "Eternal Water Bucket changes back into vanilla water bucket in Petal Apothecary from Botania"
Problem: Eternal Water Bucket reverts to vanilla water bucket when used with Botania's Petal Apothecary.
This was tested in Single Player.
EvilCraft version: 1.10.2-0.10.26
Botania version: r1.9-341

[2017-07-03 05:40] rubensworks commented on #567
Feel free to make your own fork and use that to play with, but I won't be doing any new 1.7.10 releases. I barely have time to maintain the 1.10/1.11 versions, let alone update to 1.12, so it's impossible for me to take care of 1.7.10 as well.

[2017-07-03 05:42] rubensworks commented on #568
As mentioned before, 1.7.10 is not supported anymore sorry.

I can't see your full crashlog, but it sounds like some kind of mod conflict. Such as a mod including an outdated API of another mod.

[2017-07-03 05:42] #568 closed, assigned to nobody

[2017-07-03 20:30] Cakx opened #570 "[1.11.2] - Wrong entity string format used in config under "vengeance_spirit.entityBlacklist""
There is a little flaw in your config file!

### In your config file it says:

 The blacklisted entity spirits, by entity name.
    S:vengeance_spirit.entityBlacklist <
        **evilcraft.werewolf
        intangible.soul**

### In 1.11.2 entity id strings are written with a colon " : "

### It must be written like this to have any blacklisting effect:

The blacklisted entity spirits, by entity na

[2017-07-11 11:12] #569 closed, assigned to rubensworks

[2017-07-11 11:12] #570 closed, assigned to rubensworks

[2017-07-14 21:27] Twisted-Code opened #571 "[SpongeForge][Multiplayer]"
Forge log link:
will retrieve the log for you after I eat dinner
Expected behaviour:
I expected the dark tank to reliably function as a bucket with which I could hold more than 1000mb,, and usually it does... except when it doesn't.
Problem:
For some reason, I can no longer add or remove blood (or other fluids, though I mainly use it for blood) from my dark tank. Instead of emptying what blood it

[2017-07-15 06:13] rubensworks commented on #571
Any chance you might be able to retrieve the NBT tag of that tank? Something probably went wrong in there.

Also, try restarting the server/client, that might help.

[2017-07-15 16:00] Twisted-Code commented on #571
@rubensworks I restarted and nothing fixed. I'll grab the tags if it happens again. As it is, I've already  deleted the item. Might still be in one of my backups of the world, but it seems to happen often enough that I don't feel like digging if I don't have to

[2017-07-17 08:17] rubensworks commented on #571
Yeah, I can't reproduce this at all.

Please let me know once you figured out what exactly causes it, so I can reproduce (and fix) it.

[2017-07-24 22:32] Harenavermis opened #572 "Crash when clicking on spirit forge"
Forge log link: https://pastebin.com/4Qdgcbk2

Problem: Right clicking on spirit forge causes the game to crash

Expected behaviour: Something besides a crash

Steps to reproduce the problem:
- Go to creative mode
- Place a Spirit forge block
- Right click on it

[2017-07-24 22:40] Harenavermis opened #573 "Condensed blood in blood infuser gives back bucket"
Forge log link: https://pastebin.com/JVUexN3E

Problem: Placing a piece of condensed blood in the blood infuser will create an empty bucket

Expected behaviour: The blood to be consumed without giving any item back

Steps to reproduce the problem:
- Place a blood infuser
- Open the infuser's inventory and insert a condensed blood item
- Does not happen if you right click the condensed blood into t

[2017-07-25 06:30] rubensworks commented on #572
Hmm, is your multiblock fully formed or not?
(eitherway, it shouldn't crash)

[2017-07-25 15:51] rubensworks commented on #572
Fixed in bd4505604d7b7e8feed93d84a421a5abd940eb75

[2017-07-25 15:51] #572 closed, assigned to rubensworks

[2017-07-25 15:51] #573 closed, assigned to rubensworks

[2017-07-25 17:16] Twisted-Code commented on #571
@rubensworks sorry, I would probably have the data tags, but I got tired of the tanks breaking and the issue lost priority as I switched to playing a different game. I'm going to go out of my way right now to test it though, so hopefully I'll have some new information for you within the hour

[2017-07-25 19:58] Twisted-Code commented on #571
Or not. Seems I'm having trouble reproducing it now. huh. I'll... I'll let you know

[2017-07-28 12:17] Joxxs opened #574 "Implement"
Half of the crap still isn't implemented 5 years later Taelman?

Werewolfs?

[2017-07-28 12:21] rubensworks commented on #574
Sure, PR's are welcome! :-)

(Werewolves have been implemented for a very long time already though...)

[2017-07-28 12:21] #574 closed

[2017-07-31 07:47] janssen-dev opened #575 "Compatibility with BOP? IllegalArgumentException crash"
Forge log link: https://hastebin.com/luticiluma.sql

Problem: Server crash (uncaught IllegalArgumentException)

Expected behaviour: No crash

Steps to reproduce the problem:
- Being in certain chunks with BOP

**Please look here: https://github.com/Glitchfiend/BiomesOPlenty/issues/1086**

[2017-07-31 12:07] rubensworks commented on #575
What MC and mod version are you using?

[2017-07-31 12:12] janssen-dev commented on #575
Minecraft: 1.12
EvilCraft: 1.12-0.10.30

[2017-07-31 17:49] tyler489 opened #576 "Piercing Vengeance focus does not damage Vengence Spirits"
im not sure if this is a bug but i need vengence essence so i crafted a vengence ring a piercing ring and a vengence pickaxe im taking random damage so im assuming that they are spawning but i cant see them or hit them with a piercing ring. am i doing something wrong?

[2017-07-31 17:52] rubensworks commented on #576
If you enable the ring, you _should_ be able to see them if they come your way, is this the case?
Using the pickaxe should also allow you to see them.

[2017-07-31 17:57] tyler489 commented on #576
no. might have something to do with spongeforge?
using 1.12 0.10.30

[2017-07-31 17:57] rubensworks commented on #576
Can you try it without any other mods installed (except for CyclopsCore)?
If it still doesn't work, it'll be a bug.

[2017-07-31 17:59] tyler489 commented on #576
let me try in sp in a non spongeforge envonment

[2017-07-31 18:03] tyler489 commented on #576
ok i cant see them in singleplayer either. Modpack can be found here
https://minecraft.curseforge.com/projects/beyond-the-new-frontier/

[2017-07-31 18:09] tyler489 commented on #576
ok... its something in the pack then...

[2017-07-31 18:11] tyler489 commented on #576
however i cant hit them with the pierced ring  with just evilcraft and forge

[2017-07-31 18:25] tyler489 commented on #576
Im not a dev by any means but i knoticed this  ```ExtendedDamageSource.VengeanceBeamDamageSource```
but i dont see you import the extended damage source class in Vengencespirit.java could that do it?

[2017-07-31 18:26] rubensworks commented on #576
So you can see them with just EC and Forge installed?
In that case it must be another mod messing with it.
If so, report this to your modpack author.

[2017-07-31 18:31] tyler489 commented on #576
i can see them with just evilcraft and forge.. but i cant hit them with the spiked ring

[2017-07-31 18:35] tyler489 commented on #576
ok well something is messing with entity ids in the pack. in the pack it says {name} was slain by Unknown

with just evilcraft and cyclops it says {name} was slain by vengeance spirit

[2017-07-31 18:35] rubensworks commented on #576
Are you holding right-click with the piercing focus to emit purple beams?

[2017-07-31 18:36] tyler489 commented on #576
yeah... on the server it has red beams though

[2017-07-31 18:36] rubensworks commented on #576
Please explain clearly what the issue is, because your comments seem to be all over the place.

[2017-07-31 18:37] tyler489 commented on #576
i cant kill the spirit........  with the piercing focus in either the modpack or with just evilcraft and cyclops core

[2017-07-31 18:38] tyler489 commented on #576
and i cant see them on the modpack <- not your issue

[2017-07-31 18:39] rubensworks commented on #576
I appreciate your effort for reporting this issue, but this is not a chatbox, so one consice messages stating your problem is sufficient. I don't have the time to spent a lot of time per issue.

[2017-08-01 02:21] Nidero opened #577 "Not compatible with chisel IllegalArgumentException crash"
----- REMOVE ME START -----

You can ignore this template when reporting anything other than a crash/bug.
Steps for reporting an issue:
- Include a link to the full Forge log `logs/latest.log` (even if there was no crash).
Don't paste the log directly in here, but use an external service like http://hastebin.com/ or http://pastebin.com/
- Explain your problem
- Explain what behaviour you would exp

[2017-08-01 02:24] Nidero commented on #577
Mod version：

[2017-08-01 02:24] Nidero commented on #577
Mod version：
CyclopsCore-1.9.4-0.10.6
EvilCraft-1.10.2-0.10.27

[2017-08-01 06:20] janssen-dev commented on #577
Really same thing here with BOP https://github.com/CyclopsMC/EvilCraft/issues/575

[2017-08-01 18:00] Lothrazar opened #578 "[1.12] minor: missing localized mob names on spawn eggs"
Forge log link: N/A

Problem: Spawn eggs for entities arent right

Expected behaviour: Shouldnt show entity.____.name

Steps to reproduce the problem:
Screenshot

![evilcraft](https://user-images.githubusercontent.com/621529/28839442-8dda1d90-76a8-11e7-97c0-a21813c97b3d.png)

[2017-08-03 20:33] TheLimePixel opened #579 "[1.12] Crash when breaking bloody cobblestone"
Server Crash log: https://pastebin.com/cLrN48r9

Problem: After breaking a large amount of Bloody Cobblestone, the server crashes.

Expected behavior: The server not crashing

Steps to reproduce the problem:
-Break a lot of Bloody Cobblestone on a server

[2017-08-04 12:55] TheLimePixel opened #580 "[1.12] CT support does not work"
On the 1.12 versions of the mod, the CraftTweaker support simply does not work. When using the given examples, in the chat it says "no such member: evilcraft" and even External Tweaker which lists everything that can be done with CraftTweaker, including mod integration, does not display the EvilCraft recipes. Therefore, it's safe to say that the 1.12 CraftTweaker support does not work.

 The last

[2017-08-05 14:05] rubensworks commented on #577
@Nidero Could you re-share the crashlog? Hastebin seems to be empty... :/

[2017-08-05 14:07] rubensworks commented on #575
@ImpulseTheFox Could you re-share the crashlog? Hastebin seems to be empty... :/

[2017-08-05 14:11] rubensworks commented on #576
![2017-08-05_16 11 26](https://user-images.githubusercontent.com/440384/28996069-ac8a3eb6-79f8-11e7-8d67-454c836183e1.png)

Works just fine for me...

[2017-08-05 14:26] #578 closed, assigned to rubensworks

[2017-08-05 16:00] rubensworks commented on #580
It looks like CT changed quite a bit. I tried updating the compat code, but I can't get my test scripts to work at all. Will have to look into this later.

For reference: https://github.com/CyclopsMC/EvilCraft-Compat/commits/feature-update-crafttweaker https://github.com/CyclopsMC/CyclopsCore/commits/feature-update-crafttweaker

[2017-08-05 16:02] #579 closed, assigned to rubensworks

[2017-08-05 16:03] rubensworks commented on #575
Might be resolved by fe3eb33ba42adaf83f010b48b022d66dfc9e83b1, let me know if this is not the case.

[2017-08-05 16:03] #575 closed, assigned to rubensworks

[2017-08-10 01:54] Nidero commented on #577
@rubensworks Re-uploaded crash-report, this is a new link ：https://pastebin.com/4uHRbYjE

[2017-08-10 06:36] rubensworks commented on #577
@Nidero Does this still occur on version 0.10.32?

[2017-08-14 13:19] rubensworks commented on #577
Assuming fixed, @Nidero let me know if this is not the case.

[2017-08-14 13:19] #577 closed, assigned to rubensworks

[2017-08-18 21:26] Kazzamkablam opened #581 "[1.12-0.10.32] [1.12.1] Effortless ring keeps jumping constantly?"
For some reason effortless ring keeps constantly jumping when moving around without being able to stop it?

(forge 14.22.0.2457)

[2017-08-18 21:27] rubensworks commented on #581
What do you mean exactly? Is it the player or the ring that jumps? In what scenario's?

[2017-08-19 09:47] rubensworks commented on #581
Seems to work just fine for me.

[2017-08-19 16:17] Kazzamkablam commented on #581
player keeps jumping when you press forward, no idea what's causing that, might be mod incompatibility with something. It only keeps jumping if you move forward, not backgwards.

[2017-08-26 03:19] gerb82 opened #582 "box of eternal closure losing spirit"
Forge log link:
irrelevant
Problem:
when i break the box of eternal closure in order to try and pick it up, i just get the empty box without the spirit in it.
it does not matter which spirit it is. both modded and vanilla ones vanish

Steps to reproduce the problem:
- play on evilcraft-1.12-0.10.33
- trap a spirit in a box of eternal closure
- break it with a pickaxe (both silk touch and non-silkt

[2017-08-26 15:21] rubensworks opened #583 "Farting doesn't work in SMP"

[2017-08-26 16:41] ShaunDreclin opened #584 "Dark tank loses upgrades and contents when broken"
Title

Evilcraft 1.12-0.10.33

[2017-08-27 06:41] #582 closed, assigned to rubensworks

[2017-08-28 19:49] JonaBrackenwood opened #585 "key.evilcraft.exaltedCrafting"
See beautiful freehand circles.
![image](https://user-images.githubusercontent.com/1567798/29790493-656bf7c8-8c3a-11e7-9f5a-9e98455e438f.png)

[2017-08-29 02:15] kurtu5 commented on #584
I am using EvilCraft-1.12-0.10.33.jar and its still doing this.

[2017-08-29 06:26] rubensworks commented on #584
@kurtu5 Are you using the latest CC version?

[2017-08-31 15:25] #585 closed, assigned to rubensworks

[2017-08-31 15:26] rubensworks commented on #585
The "Evil_craft" issue was apparently already fixed in-dev.

I feel bad I have to close this issue with this nice picture now 😢

[2017-09-01 15:35] #583 closed, assigned to rubensworks

[2017-09-07 02:39] dannydjdk commented on #582
This bug also exists in the 1.11.2 version (0.10.30). Are you still doing bug fixes for 1.11.2?

[2017-09-07 03:00] dannydjdk commented on #584
I can confirm that this is happening in 1.11.2 with CC 0.10.8 and EvilCraft 0.10.30.
When broken with pick, I always end up with an empty 16,000 mb tank.

[2017-09-07 05:50] rubensworks commented on #582
Same as #584

[2017-09-07 05:50] rubensworks commented on #584
I still do 1.11.2 fixes for major bugs (like this), yes. This should have been fixed in 0.10.8 though. Will try to look into this soon.

[2017-09-08 06:43] JerryLes commented on #582
Also picking up boxes without the spirits being in there in 1.10.2-0.10.28. This version makes default dark tanks when you break an upgraded dark tank as well.

[2017-09-08 18:17] rubensworks commented on #584
It looks like I only implemented the fix in the 1.12 version, but forgot to backport it to 1.10/1.11, will do that now.

[2017-09-08 18:24] rubensworks commented on #584
New 1.10 and 1.11 CyclopsCore versions have been pushed to CurseForge, you'll see them once they have been approved.

[2017-09-08 18:24] #584 closed, assigned to rubensworks

[2017-09-10 12:00] MaienM opened #586 "Tesselating block model crash"
Forge log link: [latest.log](https://github.com/CyclopsMC/EvilCraft/files/1290478/latest.log.txt)
Problem: The game crashes.
Expected behaviour: The game doesn't crash.
Steps to reproduce the problem:

- Be in a situation where spiked plates have to be rendered
- Be unlucky?

The problem first occurred immediately after updating from 1.12 to 1.12.1. I then removed and re-placed all spiked plates,

[2017-09-10 12:10] MaienM commented on #586
The FPS problem seems to have been related to there being no room to pump out the blood, which is unlikely to be related to this mod or this issue.

[2017-09-10 12:44] rubensworks commented on #586
Can you reproduce it with just EC (and CC) installed?

[2017-09-10 12:48] MaienM commented on #586
I'll try. Unfortunately it doesn't have an obvious trigger, so it might take a while.

[2017-09-11 15:29] Twisted-Code commented on #571
I figured it out: Vampirism blood. It looks a lot like any other blood and, although this feature is *undocumented*, gets placed in any available fluid containers (on the hotbar) when a vampire player sucks more from an animal than their blood/"hunger" bar can hold. I'm not sure if that's what happened before because, as mentioned before, I deleted the old tanks, but it's the best explanation I ca

[2017-09-11 15:42] rubensworks commented on #571
No, Dark Tanks don't show the fluid's mod in the tooltip.

So I guess this issue can be closed then?

[2017-09-11 17:44] #581 closed, assigned to rubensworks

[2017-09-11 17:44] #586 closed, assigned to rubensworks

[2017-09-13 15:19] #580 closed, assigned to rubensworks

[2017-09-14 22:41] DarthZeroX commented on #581
I happen the same, any solution? MC 1.12.1

[2017-09-15 05:14] rubensworks commented on #581
New release containing the fix is coming soon.

[2017-09-15 16:08] Twisted-Code commented on #571
yeah, close it.  About the tooltip: if your the tooltip on your tanks shows the source mod for Biomes o' Plenty blood (and in the version I'm using, it does), I'm not sure why I wouldn't have seen it on vampirism's blood, other than simply overlooking it. Soooo... my bad
Side note to all of that: I came back to the issue tracker more so because I found a minor rendering bug i wanted to report than

[2017-09-15 17:54] Twisted-Code opened #587 "eternal water bucket sprite glitching under certain circumstances"
Forge log link:  [client](https://gist.github.com/macks2008/4222353698e75dc2dc9f19a99cca4460) & [server](https://gist.github.com/macks2008/8833ae119a366e6008edc030d44ac47d)...
(I assume you actually wanted the FML logs, not "latest.log", since that only appears to be console output, i.e. "Player joined the game." "Player was blown up by creeper.", etc. Let me know if you actually wanted the latest

[2017-09-15 19:15] #571 closed, assigned to nobody

[2017-09-15 20:04] Twisted-Code opened #588 "Enchantment ID conflict"
Forge log link: should show up in the logs from the last issue I reported, since neither client nor server restarted and this issue is persistent across all sessions of my pack. For your convenience: [client](https://gist.github.com/macks2008/4222353698e75dc2dc9f19a99cca4460) & [server](https://gist.github.com/macks2008/8833ae119a366e6008edc030d44ac47d)

Problem:

vengeance pickaxe and the enchant

[2017-09-17 00:23] Laikulo opened #589 "Stained leaves are cause adjacent faces to not be drawn."
I'm a bit rusty on MC's rendering engine, but my memory says that isOpaqueCube is returning true, and it should not be, causing MC to cull the "hidden" blocks.

![2017-09-16_20 21 25](https://user-images.githubusercontent.com/2963965/30516971-b690041e-9b1c-11e7-9db8-b4c6308e626d.png)

[2017-09-18 16:32] #589 closed, assigned to rubensworks

[2017-09-18 20:28] Twisted-Code opened #590 "exalted crafter deleting items under certain circumstances"
Forge log link: not sure if the log will actually show anything, but here ([client log](https://gist.github.com/macks2008/35e97db9b7c49e004fdf9660c62d5409); [server log](https://gist.github.com/macks2008/35e97db9b7c49e004fdf9660c62d5409)) you go. As before, I am assuming you wanted the FNL log, not the other one

Problem:
under certain circumstances (the list of which I have not exhaustively deduc

[2017-09-18 20:44] Twisted-Code commented on #590
possibly related: opening an exalted crafter while it is in your offhand causes  the interface  to instantly close and whatever is in your main hand will no longer stack with other items (as if it has picked up overflow NBT data). I am currently in the process of trying to retrieve the NBT data. I'll update this comment when I get it

[2017-09-19 12:07] Timeslice42 opened #591 "[Question/Issue] Undead Tree Blood"
So the undead trees (once grown) have nifty blood drop particle effects, but they never leave any blood stains on the ground. I thought these were meant to be used for automated blood collection. Is this working as designed, a bug, or is there just a config option I didn't see that is perhaps disabled in the modpack I'm playing?

[2017-09-19 12:11] rubensworks commented on #591
Those drops are purely cosmetic. You can shear the leaves and squeeze them for Blood using Integrated Dynamics or Forestry though.

[2017-09-19 12:11] #591 closed, assigned to nobody

[2017-09-19 23:57] Timeslice42 commented on #591
So they're completely useless without a squeezer from another mod?

[2017-09-20 06:37] rubensworks commented on #591
Their main use is the crafting of Dark Sticks.

[2017-09-20 09:02] Timeslice42 commented on #591
Oh, right. My bad.

[2017-09-20 15:09] Akamaryuu opened #592 "After setting up the display_stand, loading that chunk will result in an error."
Excuse me for machine translation.

Forge log link:
[crash-2017-09-20_02.49.43-client.txt](https://github.com/CyclopsMC/EvilCraft/files/1318165/crash-2017-09-20_02.49.43-client.txt)
Excerpt from the error line.
(UserName) lost connection: Internal Exception: io.netty.channel.unix.Errors$NativeIoException: syscall:read(..) failed: Connection reset by peer

Problem:
After setting up the display_stan

[2017-09-20 18:16] #592 closed, assigned to rubensworks

[2017-09-21 09:39] Bunnyboy40 opened #593 "Blood Chest + Tinker Tools = ticking error"
----- REMOVE ME START -----
[crash-2017-09-21_19.27.05-server.txt](https://github.com/CyclopsMC/EvilCraft/files/1320660/crash-2017-09-21_19.27.05-server.txt)

----- REMOVE ME END -----

Forge log link: forge-1.10.2-12.18.3.2185-installer-win

Problem: TInkertool scythe in blood chest crashed game. (was only item in there) (was auto-resupplying blood chest using ender io fluid conduits)

Expected b

[2017-09-21 09:43] rubensworks commented on #593
Seems to be a duplicate of #532.

So another mod is causing this, possibly a TCon addon.
Please report this issue to the addon's issue tracker.

[2017-09-21 09:43] #593 closed, assigned to nobody

[2017-09-21 17:52] rubensworks commented on #590
I can't reproduce the deletion of items, unless you can provide me with a clear way to reproduce it without any other mods installed, I assume it is being caused by another mod in your pack.

I can however reproduce the offhand usage not working, will look into that.

[2017-09-21 18:36] #590 closed, assigned to rubensworks

[2017-09-21 18:36] rubensworks commented on #590
I've only implemented the fix for 1.12, as it would require too much work to backport it to 1.10.

[2017-09-21 18:39] rubensworks commented on #587
Fyi, I actually always require latest.log

[2017-09-21 18:58] #587 closed, assigned to rubensworks

[2017-09-21 19:13] rubensworks commented on #587
I could only reproduce this in MC 1.12 though. (And as I've mention, 1.10 is not updated anymore, unless major crashes are discovered)

[2017-09-21 19:21] rubensworks commented on #588
Is it possible that you added new mods _after_ you've added EvilCraft to your pack?

If so, then there's nothing I can do about that unfortunately, as enchantment id's can change when the set of active mods is changed, which means that (moddd) enchantments on existing items can change.

I assume the enchantments on the creative-tab items are correct?

[2017-09-22 11:59] Twisted-Code commented on #588
That might be part of the issue, at least. The pickaxe has the correct enchantments when spawned in, so it might have been that the pickaxe I had  corrupted when the enchant ID in its lore changed to point to a different enchantment. However, that doesn't explain why the recipe for Poisoned Tip gets added with an incorrect enchantment. Shouldn't the recipe update when the enchantment ID changes?

[2017-09-22 12:43] rubensworks commented on #588
That second thing indeed sounds like an actual issue that could go wrong on my end. Will look into it.

[2017-09-23 09:38] rubensworks commented on #588
I just looked into it, and nothing seems to be wrong on my end.
I only refer to the Poison Tip enchant _after_ all enchantments should have been registered, so the IDs should be in place by then.

It is however possible that some other mod in your pack is registering new enchants _after_ the recipes have been registered (which should *not* be done). This could be the case if a certain mod is not p

[2017-09-25 00:41] belathus commented on #584
How long does approval usually take? I don't see the update yet on CurseForge.

[2017-09-26 01:01] rubensworks commented on #584
@belathus The update is there, it was approved on the same day (i.e. 17 days ago), just use the latest version and you should be fine.

[2017-09-26 13:11] belathus commented on #584
Oh, I see. I need to update Cyclops Core.

[2017-09-27 00:59] Twisted-Code commented on #590
Maybe sometime I'll offer to backport it as a PR. Right now I don't know Java NOR how to PR. I'm working on it though

[2017-09-30 13:34] Twisted-Code opened #594 "misrendered bloodstained block: chisel mod's marble"
Forge log link:
do you really need it for a rendering bug? I don't know when this bloodstained block happened anyway, so I doubt the log will show anything unless I try to reproduce the bug.
Problem:
A block that something left a bloodstain on is rendering as if the block has an invisible texture
Expected behaviour:
a block that at least rendered as solid rather than absolutely clear (minus the bl

[2017-09-30 21:59] rubensworks commented on #594
Ok, so in short, Blood Stained Blocks render invisible on Chisel's Marble.

[2017-10-01 08:23] mahilo3550 opened #595 "Poison Tip Enchantment cannot be applied to anything"
Problem: Poison Tip Enchantment not working on any bows in game. Modded or vanilla

[2017-10-01 08:24] rubensworks commented on #595
1.12?

[2017-10-04 20:03] Twisted-Code opened #596 "machines wasting condensed blood"
possibly related: #296
this is happening on a **1.10.2** server running, among other core mods, **SpongeForge**
Forge log link:
[server](https://gist.github.com/macks2008/b42f3dee8b36e3713816ca2743432752). Do you also need  client?
Problem:
Condensed blood stacks placed into a machine will consume the whole stack unless it fills to exact capacity, even if that means repeatedly wasting condensed bl

[2017-10-05 21:53] rubensworks opened #597 "Display Stand crash"
Because of wildcard meta being used in item.

https://pastebin.com/iTGeJTSD

[2017-10-07 14:58] Twisted-Code commented on #594
yeah. The bloodstain itself still shows, but nothing else

[2017-10-07 19:39] Nagapito opened #598 "Blood infuser only accepts inputs if from the north side"
If I try to input items from any other side, it doesnt work.

Machine orientation is irrelevant.

[2017-10-11 11:39] #596 closed, assigned to rubensworks

[2017-10-11 11:39] #597 closed, assigned to rubensworks

[2017-10-12 12:50] Twisted-Code commented on #588
hmm... okay then. Might be easier for me to just manually correct the recipe using minetweaker. I'll update this issue if I find any new information about what's going wrong.

[2017-10-12 12:56] Twisted-Code commented on #588
I do notice the log says something about  forge fixing an ID mismatch for the enchantment in question at 8:25:15. Wonder if that actually broke something rather than fixing it? Anyway, like I said, I'll update this issue if I find anything useful. Preferably more concrete than "maybe Forge broke something trying to fix it" XD

[2017-10-12 22:55] rubensworks commented on #588
That's definitely possible. It's also very possible that this behaviour has been fixed in 1.12 already, but they don't backport fixes to 1.10 unfortunately.

[2017-10-13 08:20] #595 closed, assigned to rubensworks

[2017-10-15 06:28] #598 closed, assigned to rubensworks

[2017-10-19 18:12] gelonsoft opened #599 "Crash on NullPointer exception in ticking NetherFish"
Forge log link: https://pastebin.com/MzTpK14i
Crash log link: https://pastebin.com/DF4wcwkh
Problem: Crash on NullPointer exception in ticking NetherFish

Expected behaviour: Don't crash...please.
Can't load the game, cause saved near NetherFish and game is crashing just after the loading (((

Steps to reproduce the problem:
-Meet NetherFish.

[2017-10-23 11:33] jc2xs opened #601 "MP Server Crash - unable to find an evilcraft property"
Forge log link: https://pastebin.com/CXAr9hTm

Problem:  Server is trying to locate a property for a blood stained block that results in a server crash.

java.lang.IllegalArgumentException: Cannot get property PropertyEnum{name=variant, clazz=class biomesoplenty.common.block.BlockBOPGrass$BOPGrassType, values=[spectral_moss, overgrown_stone, loamy, sandy, silty, origin, overgrown_netherrack, daisy

[2017-10-24 04:14] drakray commented on #601
I got that too, i'm trying to add biomesoplenty:grass and biomesoplenty:dirt to evilcraft blood stained blacklist

[2017-10-24 07:44] rubensworks commented on #601
This issue is being reported occasionally (#259 and #577), but I have not been able to reproduce this myself.

For some reason, the `getSoundType` method is receiving invalid parameters. We don't change anything with regards to sounds in blood stained blocks, so I don't think EC is directly causing this. I assume a coremod is somehow messing with this.

Can you try reproducing this with just EC(+C

[2017-10-24 08:15] rubensworks commented on #599
Can't reproduce with just EC installed.

This seems to be a crash in Vanilla logic.
For some reason the player's connection object is null, which is probably caused by another (core?)mod.

[2017-10-24 08:15] #599 closed, assigned to rubensworks

[2017-10-25 03:14] jc2xs commented on #601
@drakray Could you post your list of core mods you are using?  Mine are listed in the crash report in my original post.  I would like to compare and start eliminating a few before I start testing trying to isolate which core mod is causing the issue.

[2017-10-25 03:17] drakray commented on #601
[Here is my crashLog](https://pastebin.com/2hFs0cpV), didn't crash since I changed the blacklist though

EDIT: also, that was a Linux Server Crash, with a Win7 Client, both Java

[2017-10-25 03:32] jc2xs commented on #601
Okay, so the common core mods are below.  It will take me a bit but I'll see if I can do some testing on the server in home with these and figure out which one might be causing it.

ForgelinPlugin (Forgelin-1.5.1.jar)
Inventory Tweaks Coremod (InventoryTweaks-1.63.jar)
LoadingPlugin (Quark-r1.3-112.jar)
CTMCorePlugin (CTM-MC1.12-0.2.3.9.jar)
Plugin (NotEnoughIDs-1.5.4.2.jar)
IELoadingPlugin (Immer

[2017-10-26 22:02] heyoomimi opened #602 "[1.10.2] Suggestion: Mod Compatibility with Animania animals"
I was wondering if EvilCraft could have a mod compatibility with Animania animals? We are currently running a server set with only Animania animals, and the only animals we can currently obtain the Origins of Darkness book from are Mooshrooms, Wolves, Ocelots and Bats.
Thanks in advance!

Evilcraft version: 0.10.29
Animania version: 1.3.5

[2017-10-26 22:53] rubensworks commented on #602
I think don't really understand what you are asking.
The book should not be dropping from any mobs, if it is, then that is being customized by your pack.

[2017-10-26 22:57] heyoomimi commented on #602
I mean, when you feed a darkened apple to an animal. It doesn't work with Animania animals.

[2017-10-26 23:02] rubensworks commented on #602
It should work with any animal that has 10 health (5 hearts) or less, as can be seen here: https://github.com/CyclopsMC/EvilCraft/blob/master-1.12/src/main/java/org/cyclops/evilcraft/item/DarkenedApple.java#L48

Do these Animania animals by any chance have a lot of health?

[2017-10-28 13:26] jc2xs commented on #601
So I did a strpped down test of just the basic mods needed to reproduce.  So all that is in the test pack that produced this crash is:

Forge 14.23.0.2512
BoP 7.0.1.2301
Cyclops Core 1.12-0.10.21
EvilCraft 1.12-0.10.37
Mantle 1.12-1.3.1.21
TiC 1.12-2.7.4.34

So no core mods installed at all and this crash still happens.

Crash report:  https://pastebin.com/TuShCXg5

I'm going to do one more test u

[2017-10-28 14:27] jc2xs commented on #601
Same crash:  https://pastebin.com/bLwkDmWU with forge 14.23.0.2517

[2017-10-28 14:57] drakray commented on #601
A good test would be to disable TiC Floating Island, and then, testing by dropping Blue Slime over different block, to know if it crash only on BoP Grass, meaning the trouble would be caused by the blood block creating on BoP grass, or on every blood block, meaning it would be caused by the slime.)

[2017-10-28 22:35] heyoomimi commented on #602
Ah I see, I wasn't aware they had to be 5 hearts or less. Thank you!

[2017-10-28 23:02] jc2xs commented on #601
Good idea...   So I did some more testing.  Both blue slime and vanilla green slime cause the crash over blood stained BoP grass blocks.  Normal vanilla blocks have no issues.  Finally wound up removing TiC altogether and just used vanilla green slime spawn egg to reproduce the error.  Same results  BoP grass crashes normal vanilla grass doesn't.

Last crash report without TiC or Mantle installed:

[2017-10-28 23:07] drakray commented on #601
maybe try with BoP Dirt, as it use the same "values", and some other BoP block, just to be sure that the trouble come from this?

[2017-10-28 23:42] jc2xs commented on #601
So far I've tested a few other BoP terrain gen blocks.  The only one that causes the crash so far is BoP' Loamy Grass Block.  Loamy dirt, sandy dirt and dried sand did not cause a crash.

[2017-10-28 23:43] drakray commented on #601
do other BoP Grasses than Loamy crashed too, or just Loamy?

[2017-10-28 23:46] jc2xs commented on #601
Not sure on that one.  I just tested the four blocks from BoP so far.  But that should give the mod author enough to reproduce the crash.  I'm still not sure if it is Forge, BoP or EvilCraft at this point.  But they are the only mods in the pack at this point.

[2017-10-28 23:48] jc2xs commented on #601
Oh... I couldn't not reproduce the crash with Zombies on any blocks.  So it seems restricted to slimes causing the issue.

[2017-10-28 23:51] drakray commented on #601
could you test every BoP Grass, to check if it's just Loamy? that would give better indication
Maybe after that, testing with biomesoplenty:grass added to blood_stained_block.blockBlacklist in evilcraft.cfg, though i'm pretty sure it shouldn't crash(as I don't)

[2017-10-29 00:36] #602 closed, assigned to nobody

[2017-10-29 02:47] rubensworks commented on #601
@jc2xs @drakray Thanks for your help in this issue, I've finally managed to reproduce this.

The problem seems to be caused by slimes creating blood stained blocks by falling to their death. Up until now, I thought the problem was being caused by slimes falling on _already formed_ blood stained blocks.

It seems to be an issue with Forge not considering some edge-cases, will have a look if I can f

[2017-10-29 03:16] #601 closed, assigned to rubensworks

[2017-10-29 03:17] rubensworks commented on #601
Will be fixed in next update.

[2017-10-31 14:01] nathanjfealko opened #604 "Server Crash when Burning Gem_stone reaches 0 dur"
(I didn't save the latest.log file before reading the submission notes; I did, however, include two server crash reports on the problem:)

https://pastebin.com/wuAnu1Kn
https://pastebin.com/RXF3v4x1

Problem:
1.12 Forge server crashes when Burning Gem_stone reaches 0 durability.

Expected behaviour:
Server should not crash.

Steps to reproduce the problem:
Have a Burning Gem_stone in inventory (no

[2017-11-05 20:14] C0rn3j opened #605 "some enchantments have no description"
![image](https://user-images.githubusercontent.com/1641362/32418651-2fd6652a-c26e-11e7-8765-45ef2597a24c.png)
Using MC 1.12.2 and forge 2529, latest version of this mod(Don't hate me for saying "latest" please ^^)

[2017-11-05 22:41] rubensworks commented on #605
Already did this in #449, don't know why I used a different format there though...

[2017-11-06 11:42] rubensworks opened #606 "Some textures have incorrect colors"
For example, Dark Brick and Sanguinary Pedestal.

Revert the compression of those textures.

[2017-11-06 11:42] rubensworks opened #607 "Chalices always have same ID"
It looks like the chalices always have the same group ID, or at least the same color.

[2017-11-06 11:44] rubensworks opened #608 "Envir Acc beam not always shown"
Check again with vanilla beam code.

[2017-11-06 11:44] rubensworks opened #609 "Libelle flies backwards"
It should not do that obviously.

[2017-11-06 16:43] C0rn3j commented on #605
Perhaps more mods add the same thing(enchant description) and for some dumb reason they're using different localization keys? I use WAWLA.

[2017-11-07 11:16] #606 closed, assigned to nobody

[2017-11-07 11:16] #607 closed, assigned to nobody

[2017-11-07 11:16] #608 closed, assigned to nobody

[2017-11-07 11:16] #604 closed, assigned to nobody

[2017-11-07 11:16] #609 closed, assigned to nobody

[2017-11-09 11:38] kakas123455 opened #610 "Feature request: Configurable fortune enchantment for vengeance pickaxe"
Title says it all. I want the good ol' fortune X (10) enchantment and not the fortune V (5) one. I think making it configurable is the easiest way to do it,but that's up to you.

[2017-11-09 11:51] rubensworks commented on #610
Fair enough, isn't too difficult to add.

[2017-11-09 12:15] kakas123455 commented on #610
Alright,thanks :D And if you don't mind me asking,when will a version containing that addon come out?

[2017-11-09 12:42] rubensworks commented on #610
Not sure yet, definitely within a couple of weeks.

[2017-11-11 06:13] rubensworks commented on #588
@macks2008 Any updates on this? Will close this otherwise.

[2017-11-13 10:13] #605 closed, assigned to nobody

[2017-11-13 10:13] #610 closed, assigned to nobody

[2017-11-13 11:24] #588 closed, assigned to nobody

[2017-11-13 13:13] thaumictom opened #611 "Obscured Glass is not transparent."
#### Issue type: :bug:
____
#### Short description:
Obscured Glass is not transparent.

#### Expected behaviour:
It's excepted that obscured glass is transparent, as it is transparent in inventory, but not when placed.

#### Actual behaviour:
It is not transparent.

#### Steps to reproduce the problem:
Place Obscured Glass.

#### Screenshot:
[https://imgur.com/BKOj4ko](url)
____
#### Versions:
- T

[2017-11-13 22:37] rubensworks commented on #611
Are you using any mods that may be tweaking rendering-related things, such as optifine?

If so, please try reproducing this in a clean environment with such EC (and its requirements) installed.

[2017-11-14 14:41] thaumictom commented on #611
I used FTB Horizons III with OptiFine, and I think it's because of Optifine. I searched through the options, and found nothing until now. Here is a picture of a clean enviroment: http://prntscr.com/hacrzi

Can you fix this mod so, that it works with OptiFine fine?

[2017-11-14 15:16] josephcsible commented on #611
OptiFine is notoriously bad at mod compatibility, since it changes so much of vanilla's rendering in incompatible ways (it's a highly-invasive coremod), you can't see exactly what it's changing to work around it (since its source isn't public; a violation of Forge's coremod guidelines by the way), and it's exceptionally difficult for mod authors to test their mods against (since it doesn't have a

[2017-11-15 00:28] rubensworks commented on #611
@ThaumicTom Sorry, but no. If you want to see this fixed, report it to the authors of Optifine.

[2017-11-15 00:28] #611 closed, assigned to nobody

[2017-11-20 17:47] MazeusXenon opened #612 "Animania Compatibility"
#### Issue type:
Bug

____
#### Short description:
Animania does not allow Dark Apple to be fed to animals

#### Expected behaviour:
Feed animal dark apple, dies, get anomaly to throw book into, getting EC book

#### Actual behaviour:
You cannot use the Dark Apples on animals

#### Steps to reproduce the problem:

1. Have both Animania and EC installed
2. Get Dark Apple
3. Try to feed to animal -

[2017-11-20 18:19] dannydjdk opened #613 "Player dismounts from broom when shooting bow"
#### Issue type:
- :bug: Bug
____
#### Short description:
While flying with broom, when you release the mouse button to shoot an arrow, you are dismounted from the broom, the broom is dropped, and you fall to the ground.

#### Expected behaviour:
Player should remain mounted on the broom while shooting.

#### Actual behaviour:
Player is dismounted and the broom is dropped.

#### Steps to reproduce

[2017-11-20 22:45] rubensworks commented on #612
Not a bug, as mentioned before in #602.

[2017-11-20 22:45] #612 closed, assigned to nobody

[2017-11-20 22:46] rubensworks commented on #613
Thanks!

No log is needed here btw.

[2017-11-25 22:22] josephcsible opened #614 "Eternal water bucket can't fill cauldron"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
The eternal water bucket can't be used to fill cauldrons.

#### Expected behaviour:
Right-clicking a cauldron with an eternal water bucket should fill it.

#### Actual behaviour:
Right-clicking a cauldron with an eternal water bucket places a water block next to it.

#### Steps to reproduc

[2017-11-26 05:49] #614 closed, assigned to nobody

[2017-11-29 03:21] pjc21 opened #617 "Duplication Glitch - Iron Shears"
#### Issue type: duplication glitch
- :bug: Bug

#### Short description:
When crafting a dead bush using iron shears in a Refined Storage crafting grid the shears will be duplicated.

Modpack: Direwolf20 1.12
Version: 1.1.0
Added Evilcraft to pack.

#### Expected behavior:
To not have the shears duplicated

#### Actual behavior:
Iron shears are duplicated

#### Steps to reproduce the problem:

1.

[2017-11-29 03:27] rubensworks commented on #617
Exactly how are they duplicated? Which ones get damaged? Where does each item end up(crafting grid, player inventory, storage, ...)?

[2017-11-29 03:41] pjc21 commented on #617
Both the original and duplicated shears go into players inventory
Both will have same durability,
- so new shears at 238 durability when placed in crafting grid with sapling
- when removing crafted dead bush from crafting output using mouse, 2
shears will appear in players inventory with 237 durability as soon as dead
bush is removed from output slot.

I have not automated my refined storage yet s

[2017-11-29 03:43] rubensworks commented on #617
Thanks, will look into it.

[2017-11-29 23:27] rubensworks opened #618 "Exalted Crafter becoming invisible when dropped"
It appears that the entity renderer is bugged, as it doesn't render when on the ground.

Check if the same occurs on Dark Sticks.

[2017-12-02 22:02] superfluke opened #619 "Brooms sometimes do not work properly"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
Brooms seem to randomly not work after crafting with normal flight functionality sometimes returning after restarting the client. The broom will craft normally and accept blood but will only hover in the air when used, and will not move forward.

#### Expected behaviour:
Brooms work normal

[2017-12-02 22:35] rubensworks commented on #619
That's strange. It seems to be right after a dimension switch, so that might have something to do with it.

[2017-12-04 02:09] ResqDiver1317 commented on #337
I know this is closed and labeled as MC 1.7 but we are having this issue with 1.10.2. We are running the latest EvilCraft for 1.10.2 and Forestry 1.10.2-5.2.17.387 and this issue was just reported to me by a few of our players.

[2017-12-04 02:28] rubensworks commented on #337
As mentioned above, this is a Forestry issue.

[2017-12-04 02:34] josephcsible commented on #337
I commented there about it.

[2017-12-08 02:53] josephcsible opened #620 "Werewolves should only transform if they see the full moon"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

Werewolves shouldn't transform when the full moon comes out if they can't see it at all (in code, if the sky light level is 0 at their position).

[2017-12-08 03:00] josephcsible opened #621 "Wrong config?"
https://github.com/CyclopsMC/EvilCraft/blob/0f8c2c29927593bfd276342b508bd82a540b7026/src/main/java/org/cyclops/evilcraft/event/LivingUpdateEventHook.java#L72

Am I missing something, or should this be WerewolfConfig rather than WerewolfVillagerConfig?

https://github.com/CyclopsMC/EvilCraft/blob/0f8c2c29927593bfd276342b508bd82a540b7026/src/main/java/org/cyclops/evilcraft/entity/monster/Werewolf.ja

[2017-12-08 03:09] rubensworks commented on #621
No, that should be correct.

The first thing checks if the werewolf villager is enabled before calling `WerewolfVillager.getInstance()`.

The second thing checks if the werewolf is enabled before creating a werewolf.

[2017-12-08 03:09] #621 closed, assigned to nobody

[2017-12-08 03:10] josephcsible commented on #621
Are you sure? It looks like you're checking whether werewolf villagers are enabled before creating a werewolf, and then checking whether werewolves are enabled before creating a werewolf villager (both of which you know to be true, since one of them exists in the world that you're running on).

[2017-12-08 03:14] josephcsible opened #622 "Eternal Water Block can't fill buckets"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
Right-clicking an Eternal Water Block fills whatever fluid container you're holding, unless it's a vanilla bucket.

#### Expected behaviour:
Right-clicking an Eternal Water Block with an empty bucket should fill it with water.

#### Actual behaviour:
Right-clicking an Eternal Water Block w

[2017-12-08 03:14] rubensworks commented on #621
Yes, I'm sure. The first part calls the second part, which creates a werewolf from a villager. None of these functions create werewolf villagers.

[2017-12-08 03:19] josephcsible opened #623 "Poison Bucket recipe shouldn't need an empty bucket"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

When you're crafting a Poison Bucket, you provide a bucket of water and an empty bucket (among other things), and you end up with a Poison Bucket and an empty bucket. Needing an empty bucket is unnecessary (you're giving one just to get it back) and unrealistic (you're just throwing the poison

[2017-12-08 03:20] rubensworks commented on #623
This was implemented like this because in the past all filled buckets that were used in recipes returned an empty bucket. This could have changed by now, not sure.

[2017-12-08 03:21] josephcsible commented on #623
They still do by default, but you can change this with a custom recipe handler.

[2017-12-08 03:27] josephcsible opened #624 "Exalted Crafter buttons should have tooltips"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

The "C", "B", and "player"/"inner" buttons in the Exalted Crafter should have tooltips that explain what they each do.

[2017-12-09 15:41] KAfable opened #625 "Evilcraft inserting its loot into Loot Pools made by other mods"
#### Issue type:
- :bug: Bug
- :snail: Performance issue

**#### Short description:**
EvilCraft is inserting itself into loot pools crated by other mods such as Reliquary and RandomThings. This drastically lowers the weighted chance of these mods loot actually generatingin the chest as they didn't anticipate another mod being present in their pool, eg Reliquary only uses a relative weight of 1, wh

[2017-12-09 15:45] rubensworks commented on #625
True, this was implemented like this back in the early days when loot tables were not very well supported by Forge. Proper mechanism exist now for injecting into specific loot tables, so it would probably be better to limit the loot table targets.

[2017-12-10 09:46] #620 closed, assigned to josephcsible

[2017-12-10 09:47] #622 closed, assigned to josephcsible

[2017-12-10 18:34] rubensworks commented on #619
I can't reproduce this myself. And the only possible causes for this would be if the player entity is not of class `EntityPlayer`, or if there is a big server delay.
The latter seems the most plausible cause, considering the switch of dimensions.

I'm putting this issue on hold until someone else is able to reproduce this in a clean (just EC+CC) environment.

[2017-12-10 18:54] josephcsible opened #630 "Allow disabling auto output on the Eternal Water Block"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

You should be able to turn auto output on and off on the Eternal Water Block, like you can on the Dark Tank.

[2017-12-10 18:54] josephcsible commented on #630
I assume I should make this default on for BC reasons.

[2017-12-10 19:07] rubensworks commented on #630
The easiest way to do this would be by applying a redstone signal.

Alternatively, a different blockstate could be toggled (where the texture has no flowing water?) on right click?

[2017-12-10 19:07] josephcsible commented on #630
Right-click was what I was thinking.

[2017-12-10 19:17] josephcsible opened #631 "Water is invisible through "auras" in this mod"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:

Water behind an environmental accumulator's beam, or a vengeance spirit, is invisible.

![2017-12-10_14 17 24](https://user-images.githubusercontent.com/16061266/33808464-dd75c8f4-ddb4-11e7-8c25-810500eb5302.png)

____
#### Versions:

Development version 61ae531, with all of its Gradle de

[2017-12-10 19:24] rubensworks commented on #631
This has been like this since the beginning, simply because vanilla also rendered the beacon beam like that. But I just had a look, and it looks like vanilla fixed the issue, so we can reuse that fix.

[2017-12-10 19:26] josephcsible opened #632 "Make vengeance spirits less obtrusive"
#### Issue type:

_Only keep the issue types that are applicable._

- :heavy_plus_sign: Feature request

Currently, vengeance spirits spawn basically every time a mob dies. This can be rather annoying since you usually don't care about them, especially in creative mode where they're always completely visible, and the only way to stop this is to turn them off completely, which means you lose the Bo

[2017-12-10 19:30] rubensworks commented on #632
Most of the players will play in survival mode, which is our target audience for EC, so I don't consider this a problem.

This would complicate the whole spirit catching mechanic even more.
Unless you have a good suggestion for this, I'd rather make no changes to this.

[2017-12-10 19:37] josephcsible commented on #632
How about they only spawn if killed by a player who has some item related to spirits in their inventory (vengeance ring, vengeance focus, spectral glasses, etc.)? (And even this would be a config setting vs. the way it is now)

Or failing that, how about adding a setting to not make them automatically visible in creative mode?

[2017-12-10 19:42] rubensworks commented on #632
This sounds useful, but would not work well in cases where mobs are killed in group (possible for withers). So not ideal, but I can agree if that would be just a config setting. Feel free to send a PR :-)

[2017-12-10 19:58] #613 closed, assigned to nobody

[2017-12-10 19:58] #617 closed, assigned to nobody

[2017-12-10 19:58] #618 closed, assigned to nobody

[2017-12-10 20:06] rubensworks commented on #631
Last commit fixes the EA beam.

As far as I can see, a similar fix for Vengeance Spirits is not possible (without some serious hacking).
This is because the beam is now rendered through the BufferBuilder with a custom alpha value, which takes into account all proper layers (such as water). The spirit renderer simply delegates this to the Entity renderer, which doesn't allow us to change the alpha

[2017-12-10 20:06] #631 closed, assigned to nobody

[2017-12-10 22:31] josephcsible opened #633 "BlockLiquid.LEVEL in EternalWaterBlock?"
https://github.com/CyclopsMC/EvilCraft/blob/e7daae344585e6d5f4183e5dbd7afc596ec9e183/src/main/java/org/cyclops/evilcraft/block/EternalWaterBlock.java#L33-L35

What's this for? EternalWaterBlock isn't a BlockLiquid AFAIK, so where would it ever get or use this?

[2017-12-10 23:02] josephcsible opened #635 "Can't /kill vengeance spirits"
#### Issue type:

- :bug: Bug

____
#### Short description:
/kill cannot kill vengeance spirits.

#### Expected behaviour:
/kill should kill vengeance spirits.

#### Actual behaviour:
/kill causes the message "Killed Vengeance Spirit" to display, but the vengeance spirit stays there.

#### Steps to reproduce the problem:

1. Put on spectral glasses
2. Spawn some sort of mob
3. Kill it (there shoul

[2017-12-10 23:07] josephcsible opened #636 "Baby animals create adult vengeance spirits"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Expected behaviour:
When a baby animal dies, it should create a baby vengeance spirit.

#### Actual behaviour:
When a baby animal dies, it creates an adult vengeance spirit.

#### Steps to reproduce the problem:

1. Put on spectral goggles
2. Type /summon pig ~ ~ ~ {Age:-1200}
3. Type /kill @e[type=pig,r=3]

[2017-12-10 23:13] josephcsible opened #637 "Save/load changes environmental accumulator beam color"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Expected behaviour:
When saving and reloading a world, environmental accumulators' beams should remain the same color.

#### Actual behaviour:
When saving and reloading a world, environmental accumulators' beams change color.

#### Steps to reproduce the problem:

1. Get an environmental accumulator out of t

[2017-12-11 08:41] rubensworks commented on #633
This used to be required to not make the whole thing crash when using `Material.WATER`. This might have changed by now, feel free to try removing it.

[2017-12-11 08:45] rubensworks commented on #635
Spirit ignore all damage sources, but kills from commands should probably be whitelisted.

[2017-12-11 08:47] rubensworks commented on #636
This is not possible without rewriting the whole Vengeance Spirit entity storage system (which would make this a feature). Any kind of entity data is simply ignored, only the entity type is stored. Slime size is for example also ignored.

This does however have the advantage that no duping exploits are possible by for example giving zombies items or storing things in donkies.

[2017-12-11 08:47] #636 closed, assigned to nobody

[2017-12-11 15:57] #635 closed, assigned to nobody

[2017-12-11 15:57] #637 closed, assigned to nobody

[2017-12-11 19:44] Unrepentant-Atheist opened #638 "Crash with EvilCraft-1.12.2-0.10.41.jar"
https://hastebin.com/gugozirari.py

[2017-12-11 19:49] rubensworks commented on #638
Thanks for reporting. It looks like I forgot a dependency on CC.
I can't release CC just yet, so I'll pull the latest EC update for now. It's best to downgrade.

[2017-12-11 19:49] #638 closed, assigned to nobody

[2017-12-11 21:27] josephcsible commented on #633
Sigh, still crashes:
[code]

[2017-12-11 21:27] #633 closed, assigned to nobody

[2017-12-12 01:00] FeikoJoosten opened #639 "Blood infuser crashes client"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug bug

____
#### Short description:
The blood infuser crashes the client when it’s in it’s render range.

#### Expected behaviour:
The blood infuser shouldn’t crash the client when it’s in it’s render distance.

#### Actual behaviour:
The client now crashes when the blood infuser is in render distance.

#### Steps to reproduc

[2017-12-12 01:39] josephcsible commented on #639
According to your log, you were actually using 0.10.41, not 0.10.40, which was pulled because of this problem (#638). Downgrade to 0.10.40 to fix it.

[2017-12-12 01:39] #639 closed, assigned to nobody

[2017-12-12 07:27] FeikoJoosten commented on #639
Thanks for the reply! I’ve also informed the modpack devs from modern skyock 2!

[2017-12-12 18:48] #632 closed, assigned to nobody

[2017-12-17 12:16] #623 closed, assigned to nobody

[2017-12-17 12:16] #625 closed, assigned to nobody

[2017-12-17 15:47] josephcsible commented on #623
That wasn't quite what I had in mind, but I guess it makes sense that all the poison things are liquid-y.

[2017-12-20 03:36] KAfable opened #640 "Loot Tables for Ender Tear"
#### Issue type: Loot Tables for Enderman

_Only keep the issue types that are applicable._

I noticed that you also revamped some of the loot earlier for the condensed blood, Origins of Darkness, and etc. Would it also be possible if you made it so that Evilcraft gives the same treatment with the Ender Tear and the enderman loot tables? Currently LootTweaker doesn't seem to detect the Ender Tear,

[2017-12-20 07:04] rubensworks commented on #640
Sure, that should be possible now with the new loot table hooks in Forge.

[2017-12-20 18:30] ghost opened #641 "Infinite Blood with Blood Extractor in Forestry Bottler"
https://files.pudding.tk/eby3oh8p49.mp4

Minecraft-Version: 1.12.2
Modpack: Modern Skyblock 2
Modpack Version: 2.7.2.2
Mod-Version: EvilCraft-1.12.2-0.10.40
Core-Version: CyclopsCore-1.12.2-0.10.23

Forestry-Version: forestry_1.12.2-5.7.0.213

[2017-12-25 03:05] josephcsible commented on #633
If MinecraftForge/MinecraftForge#4619 merges, we should look at this again.

[2018-01-02 06:59] TheWonderingMage opened #642 "Broom gives creative flight"
#### Issue type: bug

#### Short description:
On  Modern Skyblock 2 modpack
Logging out of the game and back in while on a broom gives the player creative flight

#### Steps to reproduce the problem:

1. get on broom
2. log out
3. log in

____
#### Versions:

_Exact versions of the following mods, not just *latest*._

- This mod: 0.10.43
- CyclopsCore: 0.11.0
- Minecraft: 1.12.2
- Forge: 14.23.1.2

[2018-01-02 07:01] rubensworks commented on #642
EvilCraft never calls anything related to the creative flight mode flag. Please try reproducing this without any other mods installed, as I assume some other mod is causing this.

Or do you mean that the broom stops consuming blood?

[2018-01-02 16:00] TheWonderingMage commented on #642
Can't reproduce with minimal mods, so its definitely some sort of mod conflict, but I have no idea which one it may be.

Also, updated one of the version numbers in original post, which was very wrong

[2018-01-03 07:50] rubensworks commented on #642
Alright, thanks for checking. Closing this one then.

[2018-01-03 07:50] #642 closed, assigned to nobody

[2018-01-05 19:05] jbossjaslow opened #643 "Humanoid flesh removed 2 hearts"
#### Issue type:

- :question: Question

After I had just started my world and had built a dark room for mobs to spawn, and Enderman appeared. I died a few times trying to kill it, and I wound up with some humanoid flesh as a result. I decided to eat it out of curiosity, and it permanently removed two hearts, leaving me with 8. I've tried killing myself, using instant health and regeneration potio

[2018-01-05 19:33] rubensworks commented on #643
Some other modmust be causing that. As you can see [here in the code](https://github.com/CyclopsMC/EvilCraft/blob/master-1.12/src/main/java/org/cyclops/evilcraft/item/WerewolfFlesh.java#L122-L125), the only thing that happens when you eat your own flesh, is that you will get the wither and blindness potion effects.

[2018-01-05 19:33] #643 closed, assigned to nobody

[2018-01-05 19:35] jbossjaslow commented on #643
Thank you, I'll try to figure out what made it happen.

[2018-01-08 10:15] rubensworks commented on #619
If anyone would encounter this in the future, please comment here.

[2018-01-08 10:15] #619 closed, assigned to nobody

[2018-01-09 22:23] LordKhaoss opened #644 "Sipirt Furnace competely crash the game [1.11.2]"
#### Short description:
Just doing right-click on spirit furnace and the game crashes.

__________________________________________
#### Steps to reproduce the problem:

1. Just do right-click on Spirit Furnace,
__________________________________________
#### Versions:
- This mod: 0.10.30
- CyclopsCore: 0.10.9
- Minecraft: 1.11.2
- Forge: 13.20.1.2579

___________________________________________
##

[2018-01-10 07:15] rubensworks commented on #644
Wait, 1.11? I'll check if this issue occurs on 1.12, but 1.11 is not receiving any updates anymore unfortunately.

[2018-01-10 19:10] rubensworks commented on #644
Doesn't seem to be an issue on 1.12, you should really update :-)

[2018-01-10 19:10] #644 closed, assigned to nobody

[2018-01-10 20:06] rubensworks commented on #641
This was an issue on Forestry's end, and has been fixed ForestryMC/ForestryMC#1863.

[2018-01-10 20:06] #641 closed, assigned to nobody

[2018-01-10 20:17] #640 closed, assigned to nobody

[2018-01-16 10:55] MasterEnderman opened #645 "[1.12] Crash with disabled Eternal Waterblock"
The game crashes if you disable the etheral water block in the configs and then try to pick up a bucket of water or placing one.

Forge: 14.23.1.2587
CyclopsCore: 0.11.1
EvilCraft: 0.10.44

Crash-Report: https://pastebin.com/UhAXNkB5

[2018-01-16 16:39] MasterEnderman opened #646 "[1.12] Broken JEI integration when disabling Blocks"
If you disable the Enviromental Accumulator / Sanguinary Enviromental Accumulator the JEI integration for the blood infuser breaks and will no longer be shown.

Forge: 14.23.1.2590
CyclopsCore: 0.11.1
EvilCraft: 0.10.44

[2018-01-20 09:15] #646 closed, assigned to nobody

[2018-01-20 09:19] #645 closed, assigned to nobody

[2018-02-01 23:36] Kevun1 opened #647 "Loot table conditions incorrect"
#### Issue type:

- :bug: Bug

____

Something with the loot table injections for Evilcraft seems to be incorrect. When I'm trying to dump the loot table using Loottweaker or Pmdumper, there's an error, and when generating simple_dungeon chests in a test world, no Evilcraft items are appearing.

I think this has been an issue since at least the previous version of EC, I just haven't investigated i

[2018-02-04 00:43] rubensworks opened #648 "Compat crash with latest Forestry version"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____

All information is here: http://openeye.openmods.info/crashes/121917e5571111e261e8ff798ae2c928

[2018-02-04 12:49] abdullamu opened #649 "crash with forestry"
https://pastebin.com/BUAkLBdB

[2018-02-04 12:51] #649 closed, assigned to nobody

[2018-02-04 12:52] rubensworks commented on #649
#648

[2018-02-05 08:17] #648 closed, assigned to nobody

[2018-02-05 09:49] ghost opened #650 "[NPE] Villagers on Spirit furnace"
#### Issue type:
- :bug: NullPointerException: Ticking block entity

#### Short description:
Server crashed using Spirit furnace and box of eternal closure containing Villager spirit.

#### Expected behaviour:
It Should probably drop emeralds. (Villager commonly drop emerald on modded pack)
or noting.

#### Actual behaviour:
This issue makes the server crash. (NPE)

#### Steps to reproduce the pro

[2018-02-05 10:33] rubensworks commented on #650
Yeah, I cannot read the crashlog, will put this on hold until I get the actual file.

[2018-02-05 13:09] ghost commented on #650
First post edited, I added a pastbin link with the crash report.

[2018-02-05 16:59] MinityGames opened #651 "Forestry crash with latest EvilCraft version"
- :bug: Bug

____
#### Short description:
Launching the game with Forestry + EvilCraft caused the game to crash during start up.

#### Expected behaviour:
The game would launch correctly.

#### Actual behaviour:
The game ends up crashing.

#### Steps to reproduce the problem:

1. Launch the game with the 2 mod versions specified below.

I was able to fix the problem by downgrading my EvilCraft ver

[2018-02-05 23:14] rubensworks commented on #651
Please check closed issues before opening new ones, duplicate of #648.

[2018-02-05 23:14] #651 closed, assigned to nobody

[2018-02-06 01:28] Gorgok commented on #651
Evilcraft 1.12.2-0.10.46 does not load with works with forestry_1.12.2-5.8.0.241 or forestry_1.12.2-5.8.0.242 as the fix seems to say.

Evilcraft 1.12.2-0.10.45 will load with forestry_1.12.2-5.8.0.242 however... Not sure if either actually 'works' for the farmer though.

[2018-02-06 01:29] rubensworks commented on #651
The fix is not part of a release yet.

[2018-02-06 01:29] raltus opened #652 "Crash due to conflict with latest Forestry versions"
#### Issue type: Crash during load

____
#### Short description:
I was updating some mods in my list and at first I thought it was a forge issue because it happened before with another mod. Forestry 1.12.2 versions 5.7.0.240, 5.8.0.241, and 5.8.0.242 all cause a crash during loading due to a conflict with the EvilCraft-Compat. 5.7.0.239 and before all load fine without any issues.

____
#### Versi

[2018-02-06 01:30] #652 closed, assigned to nobody

[2018-02-06 01:30] rubensworks commented on #652
Duplicate of #648.

[2018-02-06 08:11] #647 closed, assigned to nobody

[2018-02-06 08:11] #650 closed, assigned to nobody

[2018-02-07 00:42] Paril opened #653 "Save entity information in Box of Eternal Closure"
#### Issue type: 🐛  ➕

____
#### Short description:
Charged Creepers don't retain their chargedness in the box, so you can't duplicate any drops that might be special to them (Reliquary, etc).

#### Expected behaviour:
Box contains Charged Creeper

#### Actual behaviour:
Box contains regular Creeper

#### Steps to reproduce the problem:

1. Get Charged Creeper
2. Kill
3. Box

____
#### Versions:

[2018-02-07 01:35] rubensworks commented on #653
Yep, that's because the boxes _only_ store entity type at the moment. No entity NBT information is stored at the moment.

[2018-02-07 21:24] LemADEC opened #654 "Invalid item minecraft:deadBush"
#### Issue type: :bug: Bug
#### Short description:
Warning popups in logs during boot:
[01:38:49] [Client thread/WARN] [EvilCraft/evilcraft]: Invalid item minecraft:deadBush

#### Steps to reproduce the problem:
Boot the game

____
#### Versions:
- This mod: EvilCraft-1.10.2-0.10.29
- CyclopsCore: CyclopsCore-1.9.4-0.10.10
- Minecraft: 1.10.2
- Forge: 12.18.3.2511

[2018-02-07 23:02] rubensworks commented on #654
This has been fixed for later MC versions already, 1.10 is not maintained anymore, sorry.

[2018-02-07 23:02] #654 closed, assigned to nobody

[2018-02-11 02:42] McCarrick111 opened #655 "Vengeance Spirits rendered as Poisonous Libelles"
Hi there, my name is John. I'm running a custom modpack for a small group of friends on a server. I myself have not experienced the issue, however two of the players so far on my server have since we added EvilCraft to our pack recently.

The issue in question appears to be a rendering issue where the game is misreading the ID for ghosts and rendering Posionus Libels instead. I've provided a scree

[2018-02-11 03:20] rubensworks commented on #655
The mod that adds these "ghosts" is probably registering the entity or entity renderer incorrectly. Make sure to report it on their issue tracker.

[2018-02-11 03:25] josephcsible commented on #655
When you say "ghosts", are you talking about Vengeance Spirits, or some other ghost?

[2018-02-11 04:38] McCarrick111 commented on #655
Perhaps they are vengeance spirits, I'm not sure of the nomenclature. I can assure you that the ghosts are not part of another mod.

The ghosts which I'm discussing are the semi-transparent clone entities that appear after you kill a mob with the EvilCraft mod. IE if you kill a pig, it'll spawn a semi-transparent pig with altered sound effects. Normally these "ghosts" are only visible if you're in

[2018-02-11 05:00] McCarrick111 commented on #655
Follow up after some further testing;

I went both into solo and onto the server with one of my users. We repeated the test with spectral glasses item equipped and unequipped. My user saw a dragonfly spawn without the spectral glasses on as well as with them off. As for myself, when I had the glasses on I saw the vengeance spirit take the proper mob form as intended, and without the glasses on I s

[2018-02-11 05:34] rubensworks commented on #655
@McCarrick111 Ah ok, so the vengeance spirits from EC...

What happens if those users start a new SP world with the pack and try to reproduce the bug? And what if those users start a clean pack+world with only EC (and requirements) installed?

[2018-02-11 05:37] McCarrick111 commented on #655
I will have to get back to you on my other users as they are all offline at the moment. I can say for myself that the bug is not reproduced, however I have yet to experience it on the server either.

I will get one of my users to attempt to recreate the bug in solo for you tomorrow during the day and get back to you with the information as soon as I'm able to. Thank you for your time thus far.

[2018-02-11 17:58] HeberonYT opened #656 "Server Crash Villagers on Spirit furnace [1.11.2]"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
____
#### Short description:
I have the same problem,( #650 ) but in minecraft java, version 1.11.2
When putting boxes with the spirit of a villager, the server crashes just when it should give the first drop, and it sounds like the villager receives damage, just after crashing and the world is corrupt, he needs WordEd

[2018-02-11 18:44] josephcsible commented on #656
1.11.2 is no longer supported. Can you reproduce this issue in 1.12.2?

[2018-02-11 21:39] McCarrick111 commented on #655
Ok Rubensworks, I've gotten my user to confirm the issue. In solo the Vengeance Spirits render correctly for him as expected - no dragonflies. This was with the pack so I didn't have him run it with only EvilCraft.

So this issue seems to be exclusive to the server. My user suggests it may be a conflict with the server version of forge. As an additional test I went ahead and OP'd him on my server

[2018-02-11 22:06] rubensworks commented on #655
So did you check this?

The only thing I can think of right now is that this player is somehow using a corrupted Forge/EC version.

Did you already try starting a brand new multiplayer world to check the issue?

[2018-02-11 22:07] rubensworks commented on #656
Yeah, this was fixed on 1.12 already. 1.11 is not maintained anymore, sorry.

[2018-02-11 22:07] #656 closed, assigned to nobody

[2018-02-11 23:03] McCarrick111 commented on #655
I've just gone ahead and rebooted the server (no changes yet) with the console up again. I noticed the following error spring up;

"11.02 17:14:10 [Server] Server thread/ERROR Couldn't load loot table evilcraft:inject/chests/box_of_eternal_closure from jar:file:/mods/EvilCraft-1.12.2-0.10.47.jar!/assets/evilcraft/loot_tables/inject/chests/box_of_eternal_closure.json 11.02 17:14:10 [Server] INFO co

[2018-02-12 07:24] rubensworks commented on #655
Sounds good!

Not necessary. It's not possible for me (time-wise) to debug complete modpacks.

[2018-02-12 19:37] superfluke commented on #619
Looks like players are still having a problem with brooms dropping their stats. Don't have a way to reliably reproduce yet. This player had crafted the broom in a previous version and the screenshot is from Evilcraft 0.10.47, Forge 14.23.1.2604
![image](https://user-images.githubusercontent.com/20022336/36115842-4d40d460-1002-11e8-8ccc-67891a32d781.png)

[2018-02-12 22:04] McCarrick111 commented on #655
Alright so I've relaunched the server using only CC and EC. Believe it or not, the problem persisted! My users still see dragonflies while I see things rendering correctly.

This was with absolutely no client side mods or mods outside of Forge, Cyclops Core and EvilCraft installed.

[2018-02-12 22:57] McCarrick111 commented on #655
Also I just want to clarify - the dragonflies I speak of are specifically Poisonous Libelles from EC, not another mods dragonfly. I went ahead and checked in-game to compare the models since one other mod I had does add a dragonfly mob (Between Lands).

[2018-02-12 23:23] rubensworks commented on #655
Perhaps you should point this user to this issue here, this indirect communication is quite inefficient.

Can you send the client logs when only EC+CC is installed and the libelles are seen instead of the spirits?

[2018-02-12 23:29] McCarrick111 commented on #655
Here is his log from our test.

[16:55:33] [main/INFO]: Setting user: Blockhead0001
[16:55:37] [main/INFO]: LWJGL Version: 2.9.4
[16:55:40] [main/INFO]: Reloading ResourceManager: Default, FMLFileResourcePack:Forge Mod Loader, FMLFileResourcePack:Minecraft Forge, FMLFileResourcePack:mercurius_updater, FMLFileResourcePack:Cyclops Core, FMLFileResourcePack:EvilCraft, FMLFileResourcePack:EvilCraft-Co

[2018-02-12 23:31] rubensworks commented on #655
I'll need the full forge log (please don't paste it directly in here)

[2018-02-12 23:33] rubensworks commented on #619
@superfluke That doesn't seem to be related to this issue. Could you open a new issue for this? (With some details on when/how this happened)

[2018-02-13 00:08] McCarrick111 commented on #655
If I'm not mistaken this is the file you are asking for.

[fml-client-latest.log](https://github.com/CyclopsMC/EvilCraft/files/1718117/fml-client-latest.log)

[2018-02-13 00:18] rubensworks commented on #655
Nothing in the logs seem to indicate a problem. I don't have a clue at the moment what could be the cause. I'm putting this on hold until someone else is able to reproduce this with (hopefully) additional information.

[2018-02-13 00:49] McCarrick111 commented on #655
Fair enough - in the mean time, I've solved the problem by disabling Vengeance Spirits in the config.

Weird note; When testing with disabling Poisonous Libelles before turning off Vengeance Spirits, I saw the Vengeance Spirit as a Poisonous Libelle while my user saw it as a Netherfish. I'll just stick to a vengeanceless world.

[2018-02-13 00:54] rubensworks commented on #655
Hmm, are you sure the config files of that user are compatible with those of the server? That could actually explain the incorrect renderings.

[2018-02-13 01:20] McCarrick111 commented on #655
All of the configs until just now are auto-generated default. The only change being disabling Vengeance Spirits just a few minutes ago.

[2018-02-13 03:28] josephcsible commented on #655
I know Forge has some kind of network thing to make server connections fail if some given condition is true, like configs being different. I wonder if that's worth looking into.

[2018-02-16 23:55] flamechair opened #657 "Error loading loot tables"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
It seems that Evilcraft is having a hard time loading loot tables, causing a few stack traces in the console. The server still seems to function fine though

#### Expected behaviour:
No stacktraces

#### Actual behaviour:
Stacktraces mentioned above

#### Steps to reproduce the problem:

1

[2018-02-17 00:01] rubensworks commented on #657
Are the loot tables actually being loaded? I.e., do you see any additional EC loot in loot chests and so on?

[2018-02-17 00:02] flamechair commented on #657
Yes, they are being loaded. I've seen plenty of chests with the compressed blood and evilcraft manual in them. I'd also like to add that this stacktrace probably happens 3-4 times throughout the server boot.

[2018-02-17 00:05] rubensworks commented on #657
Ok, I see. That probably means that the loot tables are loaded multiple times for whatever reason. I can easily add a check to fix this.

[2018-02-17 00:07] flamechair commented on #657
That'd be awesome, thanks!

[2018-02-17 10:40] trogarus opened #658 "evilcraft-compat forestry cyclops core and forge issues with mc 1-12-2 forge 2611 forestry_1.12.2-5.8.0.246 and EvilCraft-1.12.2- 0.10.46"
#### Issue type: Game Crash on Startup

_Only keep the issue types that are applicable._
- :bug: Bug

____
#### Short description:
Game crash at startup

#### Expected behaviour:
Game starts, it presently does not

#### Actual behaviour:
Game crashes to launcher screen

#### Steps to reproduce the problem:

Install mods as listed below, try to start game. Crash to launcher.

____
#### Versions:

_

[2018-02-17 11:17] trogarus commented on #658
To follow up, rolling back to forestry_1.12.2-5.7.0.238 fixes the game crash issue,

[2018-02-17 11:54] rubensworks commented on #658
Please update to the latest EC version, this has already been fixed before, as can be seen in #652, #651, #649 and #648.

[2018-02-17 11:54] #658 closed, assigned to nobody

[2018-02-17 15:18] trogarus commented on #658
Ack, sorry, missed that. Could have sworn I had the latest build, but seems I didn't. Sorry for the duplicate and taking your time on that one.

[2018-02-22 01:46] LemADEC opened #659 "Werevolf loot table is invalid on 1.10"
#### Issue type:
_Only keep the issue types that are applicable._
- :bug: Bug
____
#### Short description:
Exception in console when Werevolf villager dies.

#### Expected behaviour:
No exception/console spam

#### Actual behaviour:
Exception in console

#### Steps to reproduce the problem:

1. boot the game
2. spawn a werevolf
3. kill it

____
#### Versions:

- This mod: 1.10.2-0.10.29
- CyclopsC

[2018-02-22 01:48] rubensworks commented on #659
Sorry, 1.10 is not maintained anymore.

[2018-02-22 01:48] #659 closed, assigned to nobody

[2018-02-23 22:48] lavaheart opened #660 "Loot in large dungeon room wrong?"
#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug

____
#### Short description:
While exploring I found a large cobble room with bloody cobble and 4 monster spawners as well as some chests. However the loot in the chests seemed like spawn loot instead of dungeon loot. This doesn't affect normal mossy cobble dungeon rooms just the large blood cobble dungeon room

####

[2018-02-25 08:20] #657 closed, assigned to nobody

[2018-02-25 08:20] #660 closed, assigned to nobody

[2018-02-28 15:44] princessbinas opened #661 "Crash Upon Opening/Loading Minecraft"
~~DELETE THIS LINE AFTER READING: :tada: Thanks in advance for this issue, you're awesome! :tada: Please fill in the following template and make sure your title clear and concisely summarizes the issue.~~

#### Issue type:

_Only keep the issue types that are applicable._

- :bug: Bug
- :snail: Performance issue

____
#### Short description:

I am using iamtpage's MinePlus Tech Fantasy, renamed Da

[2018-02-28 23:30] rubensworks commented on #661
Please try reproducing this without any other mods installed. This sounds like an optifine issue...

[2018-03-01 14:12] princessbinas commented on #661
I reinstalled the modpack before you replied and it works fine now. I think it was a file corruption when I was first installing the modpack. I will keep you posted if it reoccurs. Knowing my luck, it may occur again. It happens all the time to me.

[2018-03-01 23:02] rubensworks commented on #661
Alright, keep me posted!

[2018-03-01 23:02] #661 closed, assigned to nobody

[2018-03-05 03:57] coman3 opened #662 "Disable blood stains on magma blocks"
#### Issue type:
Bug
____
#### Short description:
Magma blocks fail to work if blood has been placed on top of them.

Any mob dying from fall damage places blood on top of magma block.

#### Expected behaviour:
Hurt mobs emit low light levels

#### Actual behaviour:

Disables block and causes no damage, or light emission

#### Steps to reproduce the problem:

1. Place magma block under a high plat

[2018-03-05 05:33] rubensworks commented on #662
You can add magma blocks to the blood stained block blacklist in the config file.

Note to self: add this block to the default blacklist.

[2018-03-05 11:47] TechnoMysterio opened #663 "(Suggestion) Rename Breaking and Vengeance enchantments to Curse of Breaking and Curse of Vengeance"
For an improvement to the mod's enchantments, renaming the 'Breaking' and 'Vengeance' enchantments to 'Curse of Breaking' and 'Curse of Vengeance' and making sure they have a red font (like the curses in vanilla Minecraft) would help inform players of the curses' nature, and would also make sure that they line up with vanilla's own 'Curse of Vanishing' and 'Curse of Binding'.

[2018-03-05 22:28] rubensworks commented on #663
Sure, why not.

[2018-03-07 03:51] CplPibald opened #664 "[1.12.2-0.10.48] Extractor in auto-supply mode destroys stacks of buckets :bug:"
Get blood extractor with at least 1000mb.
Put extractor into auto-supply mode.
Pick up a stack (16) of empty buckets into your hotbar.

**Expected:**
Player now has 16 filled buckets of blood
*-OR-*
Player has 1 filled bucket of blood and a stack of 15 empty buckets.

**Actual:**
Stack of buckets transforms into a single bucket of blood.

EvilCraft-1.12.2-0.10.48.jar
CyclopsCore-1.12.2-0.11.4.jar

[2018-03-07 12:24] Andvee opened #665 "Hoppers don't pull from Spirit Furnaces :bug: Bug"
#### Issue type:

- :bug: Bug

____
#### Short description:
Hoppers under spirit furnace doesn't pull items from the furnace.

#### Steps to reproduce the problem:

1. place a hopper under spirit furnace facing into any vanilla chest or another vanilla hopper (configurations tried include directly under spirit furnace center blood brick block, and spirit furnace block itself)

____
#### Versions:

[2018-03-10 10:38] rubensworks commented on #663
Will be changed in the next update, the red color will be added in the next CyclopsCore update.

[2018-03-10 10:39] #662 closed, assigned to nobody

[2018-03-10 10:39] #663 closed, assigned to nobody

[2018-03-10 10:39] #664 closed, assigned to nobody

[2018-03-10 10:39] #665 closed, assigned to nobody

[2018-03-10 13:18] TechnoMysterio commented on #663
Just checked the commit, and noticed that you renamed Breaking, which is right, but also Unusing, which seems wrong. Unusing is useful, as it prevents your tools from breaking, but Vengeance is bad as it summons spirits, so that should be classified as a curse instead of Unusing.

[2018-03-10 19:00] TechnoMysterio opened #666 "(1.12.2) Issues With Recent Enchantment Updates"
As partially a follow-up to #663, there are a couple of issues with the recent changes to enchantments.

Firstly, the names for curses have not changed. Despite the fact that en_us.lang has changed 'Breaking' to 'Curse of Breaking', the in-game enchantment is still called 'Breaking'. I think this may be because the game is reading localisation data from the en_us file in the evilcraftcompat folder

[2018-03-10 23:18] rubensworks commented on #666
You're right, I made a mistake. Thanks for re-reporting!

[2018-03-10 23:24] rubensworks opened #667 "EC compat contains complete language file"
#### Issue type:

- :bug: Bug

____
#### Short description:

As discovered in #666, EC compat contains a copy of the EC compat file. This should only contain the entries that are applicable to EC compat.

[2018-03-10 23:25] #666 closed, assigned to nobody

[2018-03-10 23:25] TechnoMysterio commented on #666
I just noticed that this issue is number 666. Quite appropriate for a mod based around evil magic and technology.

[2018-03-10 23:26] rubensworks commented on #666
Hah, you're right, nice :)

[2018-03-10 23:27] TechnoMysterio commented on #666
EEEEVVIILLL... PUUURREEE EEEEEEVVVILLLLLLLL

[2018-03-12 06:08] #667 closed, assigned to nobody

[2018-03-12 16:57] TechnoMysterio opened #668 "Restore Blood Magic Compatibility"
After looking through the lang file for the mod, I noticed something mentioning compatibility between this mod and Blood Magic, with special items and the like. However, when I load up a game with both EvilCraft and Blood Magic for 1.12.2, there are no special items included, nor is there a entry in the book about compatibility between the two mods.

I'm not sure if you're aware that Blood Magic i

[2018-03-12 23:07] rubensworks commented on #668
Ah, BM is out for 1.12.2, that's good news!

I'll look into restoring compat, as that's disabled at the moment.

[2018-03-13 19:47] BrewingCoder opened #669 "Dupe bug with blood extractor"
#### Issue type: :bug:

_Only keep the issue types that are applicable._

- :bug: Bug

#### Short description:
With blood extractor activated in inventory if I drop item from inventory it drops, but remains in inventory.  Can continue dropping infinitely.

Does not occur when blood extractor is disabled

#### Expected behaviour:
Item leaves inventory when dropped

#### Actual behaviour:
Item remai

[2018-03-14 00:24] PaulMurrayCbr opened #670 "NPE crash making refined storage pattern for dead bush"
#### Issue type:
:bug: Bug
____
#### Short description:
Game crash attempting to make a refined storage pattern for dead bush. I'm reporting it here, because the stack trace indicates that it's a problem in
[code]

There are other dead bush issues:
https://github.com/CyclopsMC/EvilCraft/issues/427
https://github.com/CyclopsMC/EvilCraft/issues/617

but they are closed.

#### Steps to reproduce the

[2018-03-14 00:28] rubensworks commented on #670
This is probably a RS issue, but I'll look into it first.

[2018-03-14 00:30] PaulMurrayCbr commented on #670
Yeah - it may be that RS is calling the wrong thing to render an item.
I wonder if the shears use gets automatically incremented when the dead bush recipe is put on a regular crafting table? I'lll have a look..
... no, the vanilla crafting table seems to work as it should.

[2018-03-14 00:50] PaulMurrayCbr commented on #670
The relevant code in RS is:
[code]

RS asks the recipe "after you have executed, what items remain unconsumed in the crafting grid?" The problem is that RS isn't asking the recipe to actually go ahead and do anything, it's just asking what *would* remain. But EvilCraft takes the opportunity to increment the shear's usage counter.

Maybe this is an API problem with net.minecraft.item.crafting.IReci

[2018-03-14 01:08] PaulMurrayCbr commented on #670
Looking aroundm the recipe is passed a parameter inv:

[code]

It's suggestive that the problem line in evilcraft is
[code]

An item being autocrafted won't have a player, perhaps. Maybe the deadbush recipe needs to invoke 'canInteractWith' … although that needs the crafting player anyway, so we are back to square 1.

I wonder if there are recipes in other mods that have side-effects on unconsumed

[2018-03-14 18:36] BrewingCoder commented on #669
This bug exists in 0.10.49 as well

[2018-03-15 19:39] bigenergy opened #671 "[1.7.10] Magic career breaks blocks in private WorldGuard"
Magic Kar to break other people's privates WorldGuard and grif other people's privates.
EvilCraft-1.7.10-0.9.13
Forge 1614 latest 1.7.10

[2018-03-15 23:21] rubensworks commented on #671
I have no idea what _Magic career_ is, it's definitely not a part of this mod.

Also, 1.7.10 is not supported anymore.

[2018-03-15 23:21] #671 closed, assigned to nobody

[2018-03-16 03:14] sarge1837 opened #672 "STOP CHANGING BLOCKS TO BLOOD STAINED!!!!!!"
- :bug: Bug
#### Short description:by changing blocks to blood stained when a player lands on them and dies you break multiblock structures and cause them to glitch out in the case of collosal chests you cause them to loose there inventory ive lost 4 weeks of work in modern skyblock 3 because of this dumb "feature"
#### Expected behaviour:not to go changing the blocks of a multiblock into blood st

[2018-03-16 03:17] rubensworks commented on #672
I don't appreciate your rude behaviour.
If you don't like this feature, please tell your modpack maker to disable this feature or do it yourself.

[2018-03-16 03:17] #672 closed

[2018-03-16 03:25] sarge1837 commented on #594
it also breaks multiblocks but he clearly couldnt care about thats thats "someone elses problem" fix your piece of shit mod and stop breaking other peoples mods with your piss poor coding ability

[2018-03-17 12:55] tonby opened #673 "Entangled Chalice removes some inventory items when Omni-supplying"
#### Issue type:

- :bug: Bug

____
#### Short description:

Unstacked non-blood-fillable items disappear when Omni-supply mode of Entangled Chalice in my hand is enabled

#### Expected behaviour:

When Omni-supply mode of Entangled Chalice is enabled, blood tools are filled. Items which can't be filled with blood should be ignored.

#### Actual behaviour:

Blood tools are filled properly. However

[2018-03-18 06:30] #668 closed, assigned to nobody

[2018-03-18 06:36] #669 closed, assigned to nobody

[2018-03-18 06:36] #670 closed, assigned to nobody

[2018-03-18 06:36] #673 closed, assigned to nobody

[2018-03-20 01:27] KAfable opened #674 "Configs for Evil Dungeon Generation?"
#### Issue type:

- :heavy_plus_sign: Feature request

Would it be possible to get configs for the dimension of the evil dungeon generation? I want to have some evil dungeons generate in an overworld copy in my pack (dimension 100), but it seems that the generator only checks for dimension 0?

[2018-03-20 01:41] rubensworks commented on #674
Sure, that should be possible.

[2018-03-20 02:38] KAfable opened #675 "Dark Ore Dropping Experience"
#### Issue type:

- :snail: Performance issue

Hi, I'm currently trying to use [Dropt](https://minecraft.curseforge.com/projects/dropt) as a way to control block drops for my pack, however it seems that Apatite Ore still continues to drop experience after configuring Dropt to prevent that.

Would it be possible to have dark ore use
public int getExpDrop(IBlockState state, IBlockAccess world, Block

[2018-03-20 04:21] rubensworks commented on #675
I'll look into it, it's possible that `dropBlockAsitemWithChance`  has been deprecated, but I'll have to dive into the code to check.

[2018-03-20 11:05] KAfable commented on #675
Dropt dev goes into more detail here whenever you have the time, my original suggestion might not be correct as I'm still new to Java.

https://github.com/codetaylor/dropt/issues/21

[2018-03-21 07:59] #674 closed, assigned to nobody

[2018-03-21 07:59] #675 closed, assigned to nobody

[2018-03-24 14:59] Xetaxheb opened #676 "Duping glitch (Cyclic automated user, Integrated Dynamics drying basin, evilcraft condensed blood, and hopper)"
- :bug: Bug

Pack is single player FTB Horizons III

Cyclic-1.12.2-1.10.12.jar
IntegratedDynamics-1.12.2-0.10.3.jar
EvilCraft-1.12.2-0.10.45.jar

Pretty easy reproduce: Auto user with 1 (or more, it will empty down to 1) condensed blood pointing at a drying basin, basin over a hopper pointing at a chest. After it hits 1 blood left, that last blood never disappears but the user keeps putting one in

[2018-03-24 21:57] rubensworks commented on #676
@Xetaxheb Could you check if you can reproduce this with Integrated Tunnel's Player Simulator?

[2018-03-24 22:11] Xetaxheb commented on #676
Sorry, i'm looking at it but I have no idea how this mod works

[2018-03-24 22:29] Xetaxheb commented on #676
Okay i think i figured out a very basic setup; can't get it to dupe though.

Cyclic's dev says this was a bug just fixed with the auto user. edit: clarity: says he had a report for this recently where auto user was doing similar thing with astral sorcery lightwell, with the issue being with the auto user; and that it 'should be fixed' in the latest aka Cyclic-1.12.2-1.14.6

[2018-03-24 22:32] rubensworks commented on #676
Ok, that's great. Can you confirm that the latest Cyclic version does indeed solve the problem for you? If so, feel free to close this issue (and the one in Integrated Dynamics as well).

[2018-03-24 22:38] Xetaxheb commented on #676
Latest cyclic version (Cyclic-1.12.2-1.14.6.jar) still has the issue.

[2018-03-25 07:12] MrNinja93 opened #677 "[Request] Allow wildcard's in blood stain blocks blacklist to blacklist an entire mods blocks."
I was hoping it was a feature already (I may still be missing something obvious but just incase)

Having the ability to blacklist an entire mods blocks from forming blood stained blocks through a wildcard asterik or similar would be a handy feature to have, it would save pack devs or just normal players adding 50+ lines to a config when one line could disable it for every block in said mod.

Chise

[2018-03-25 15:44] josephcsible commented on #594
#678

[2018-03-26 04:46] orbwoi opened #679 "Incorrect Itemblock returned when harvesting undead leaves with 3x3 silk touch AA drill"
#### Issue type:

- :bug: Bug

____
#### Short description:
The wrong item is being return when using an Actually Additions drill with 3x3 and silk touch on multiple undead leaves. Unclear which mod is responsible. Found and reproduced in survival on a dedicated server.

Note: ids below are in crafttweaker format.

#### Expected behaviour:
I should get normal (e.g. <evilcraft:undead_leaves:0>) "un

[2018-03-29 06:10] Lothrazar commented on #676
I have some GIFS uploaded and ive explored a few edge cases, two where there is no bug, and one where it is.   https://github.com/PrinceOfAmber/Cyclic/issues/757

Feel free to ask anything there, check my source code, or dm me on twitter/discord.

[2018-04-05 06:44] rubensworks commented on #676
Not an EC issue, as reported in PrinceOfAmber/Cyclic#757.

[2018-04-05 06:44] #676 closed, assigned to nobody

[2018-04-05 06:48] #594 closed, assigned to josephcsible

[2018-04-06 05:21] #677 closed, assigned to nobody

[2018-04-13 22:13] genandnic opened #680 "Crash when CTM blocks from Chisel with blood on top are broken"
#### Issue type: :bug:

#### Short description:
The game crashes when I try to break a chiseled block with blood on top of it. Not sure if this is a bug with EvilCraft, CTM, or Chisel.
#### Steps to reproduce the problem:

1. Place a block with CTM from the mod Chisel (In my case it was the circular cobblestone block)
2. Kill a mob on top of the block with connected textures so that there's blood

[2018-04-13 22:38] josephcsible commented on #680
#681

[2018-04-14 06:09] #680 closed, assigned to josephcsible

[2018-04-16 22:48] MasterEnderman opened #682 "Blood Infuser bottom Texture"
#### Issue type:

- :bug: Bug

____
#### Short description:

The bottom texture of the Blood Infuser is the same as the ones on the sides.

#### Expected behaviour:

it shows a texture similar to the top face.

#### Actual behaviour:

it shows the side texture

#### Steps to reproduce the problem:

1. place a blood infuser
2. remove the block beneath
3. look at the bottom texture

____
#### Versio

[2018-04-20 05:54] CplPibald opened #683 "NullPointerException rendering blood stained block in inventory"
#### Issue type:
- :bug: Bug

A player on my server got an evilcraft:blood_stained_block in his inventory, which caused a client crash every time that he opened his inventory.  I believe the invalid item was added to the inventory by the Corail Tombstone mod, but EvilCraft probably shouldn't be crashing even if this happens.

[code]
[Full crash report](https://pastebin.com/PV4BNffC)

The complete

[2018-04-20 06:37] rubensworks commented on #683
Must be because of a recent change: f02c9e11132690750b3c842c5c7e3b81d56d0a48

@josephcsible Could you look into this one? I guess changing the scope of the try-catch should be sufficient.

[2018-04-20 11:26] josephcsible commented on #683
This happened on 0.10.53, and it looks like a duplicate of #680, which is already fixed in 0.10.54.

[2018-04-20 11:45] rubensworks commented on #683
@josephcsible Are you sure? The stacktrace seems to indicate that either `innerBlockState` or `innerBlockState.getBlock()` is null (which was being caught before), as the crash happens inside of `ModelBloodStainedBlock#getGeneralQuads`.

[2018-04-20 11:58] josephcsible commented on #683
Oh, you may be right.

[2018-04-21 12:58] #682 closed, assigned to nobody

[2018-04-21 12:58] #683 closed, assigned to nobody

[2018-04-21 15:09] josephcsible commented on #683
That definitely makes it not crash, but I'm still somewhat concerned how a blood-stained block ended up without its NBT.

[2018-04-24 15:24] TechnoMysterio opened #684 "(1.12.2) Update EvilCraft Compatibility for both Ender IO and Thaumcraft"
Similar to the previous Blood Magic update, Thaumcraft 6 is now in beta for 1.12.2, and Ender IO was updated to 1.12.2 a little while ago. Updating compatibility for both would probably be a good step to take.

Also, reading through the en_us.lang file shows that the Thaumcraft compat includes blood based wands, and I seem to remember that Thaumcraft 6 removed the wand system in favour of a modula

[2018-04-27 07:05] rubensworks commented on #684
Yep, I should update these at some point.

[2018-05-02 17:02] matthewspeck opened #686 "Can't extract from Spirit Furnace with XNet"
#### Issue type:
- :bug: Bug

#### Short description:
XNet is not extracting mob drops from the Spirit Furnace and inserting into a chest.

[XNet issue thread](https://github.com/McJty/XNet/issues/264)

#### Expected behaviour:
With an XNet network connecting a Spirit Furnace to a Diamond Chest, with an item channel extracting items from the Spirit Furnace and inserting into the Diamond Chest, the

[2018-05-02 18:11] rubensworks commented on #686
Please update to the latest EC version, you're way behind.

Also, could you check with a plain hopper?

[2018-05-02 18:43] #684 closed, assigned to nobody

[2018-05-03 22:00] Gayanfalor opened #687 "[1.12.2] broom bugging after dimmension visit"
#### Issue type: bug

____
#### Short description:
Was doing my first rftool dimmension and wanted to fly with the broom but it was different from normal seemed empty with bad texture.  Its acting like a non upgraded broom  bad speed bad maneuvrability etc but it had upgrades for that.

Restarted the game and even in overwolrd still bugged

how it should looks like  https://puu.sh/Aftwg/c56c043aad

[2018-05-04 06:22] rubensworks commented on #687
Can you consistently reproduce this for every broom you make and use in another dimension?

What happens when you unmount? Do you get a different broom back?

Sounds similar to #619.

[2018-05-06 09:42] rubensworks commented on #686
@matthewspeck Any update on this? Closing otherwise.

[2018-05-06 23:13] matthewspeck commented on #686
@rubensworks I haven't yet had an opportunity to test with a newer build. I suppose I can setup a single-player, local world to test, but am about to leave town for the next several days, and won't have the chance to do so soon. My server owner has setup a new server with updated versions (.55 of EvilCraft, for instance), and I will test when my character has sufficient progression. For now, pleas

[2018-05-07 06:00] rubensworks commented on #686
Sounds good, thanks!

[2018-05-08 18:15] MentalMouse opened #690 "Unusing Enchantment not accepted by anvil"
#### Issue type:

_Only keep the issue types that are applicable._
- :bug: Bug
____
#### Short description:
Trying to anvil an Unusing book (from the Purifier) fails, tested on Vein Sword and Fishing Rod

#### Expected behaviour:
Should be added as usual to the item.

#### Actual behaviour:
Anvil shows the X for an unacceptable combination.

#### Steps to reproduce the problem:

1. Peel Unusing of

[2018-05-08 18:25] UncleCrustyMC commented on #686
I am seeing a similar issue with the latest version of EnderIO. I cannot
pump out mob drops from the spirit furnace. The item conduit is connected
to the spirit furnace key block. All mods are up to date . Let me know if
you need more info.

On Sun, May 6, 2018, 11:00 PM Ruben Taelman <notifications@github.com>
wrote:

[2018-05-09 06:27] rubensworks commented on #686
@UncleCrustyMC What about hoppers?

Please provide exact mod versions.

[2018-05-09 15:17] UncleCrustyMC commented on #686
I will try hoppers tonight. In theory, should item extraction work from any
face of the multiblock?

Mod info:
Minecraft 1.12.2
Evilcraft 0.10.56
Cyclops Core 0.11.5
Ender IO 5.0.22
EnderCore 0.5.20

Let me know if you need more info!

Thanks

On Tue, May 8, 2018 at 11:27 PM, Ruben Taelman <notifications@github.com>
wrote:

[2018-05-09 16:06] UncleCrustyMC commented on #686
Vanilla hopper does not work.

I attached it in the middle/bottom of the multi-block.

On Wed, May 9, 2018 at 8:17 AM, Todd Cantrell <magog777@gmail.com> wrote:

[2018-05-10 07:39] rubensworks commented on #686
face of the multiblock?

Wait, you are extracting from the core, right? Because only the core will work. Can you share a screenshot?

[2018-05-10 12:06] rubensworks commented on #686
I tried just about everything, and I can't reproduce the problem at all.

[2018-05-10 12:15] rubensworks opened #691 "Improve Unusing Enchant"
#### Issue type:

- :heavy_plus_sign: Feature request

____
#### Short description:

Currently, the unusing enchant supports only a small set of tools (pickaxe, sword, ...). We should implement this differently and more generically to handle a larger range of items, also including things such as fishing rods.

[2018-05-10 12:16] rubensworks commented on #690
Will be partially fixed for swords in the next update.

Other tools such as fishing rods are not supported atm, as they require a totally different usage-blocking mechanism. I've created a new issue for this: #691

[2018-05-10 12:22] #690 closed, assigned to nobody

[2018-05-10 13:22] UncleCrustyMC commented on #686
Ok! My core was in the middle facing , not the bottom where I had the
hopper. I will set the core on a bottom edge tonight and try again. Are you
able to use EnderIO?

On Thu, May 10, 2018 at 5:06 AM, Ruben Taelman <notifications@github.com>
wrote:

[2018-05-10 13:27] rubensworks commented on #686
No, only tested with hoppers. If it works with hoppers it should also work with EnderIO, otherwise it's an issue on EnderIO's end.

[2018-05-10 13:42] UncleCrustyMC commented on #686
That makes sense. I will test both. If EnderIO has an issue I will let you
know and i will report it to them.

On Thu, May 10, 2018 at 6:27 AM, Ruben Taelman <notifications@github.com>
wrote:

[2018-05-10 13:56] MentalMouse commented on #691
Especially fishing rods!  Mending does work well for them, but cuts into their XP stream, and there's other uses for Mending..  Unusing plus a Blood Chest would make a nice alternative.

[2018-05-10 14:07] #655 closed, assigned to nobody

[2018-05-10 20:02] UncleCrustyMC commented on #686
I verified your advice. It works when the core is on the edge for input and
output. Thanks!

On Thu, May 10, 2018 at 6:42 AM, Todd Cantrell <magog777@gmail.com> wrote:

[2018-05-11 11:55] rubensworks commented on #686
That's great!

[2018-05-11 11:55] #686 closed, assigned to nobody

[2018-05-12 15:34] MentalMouse opened #692 "Autofilling extractor fills buckets in hand"
#### Issue type:

- :bug: Bug

____

#### Short description:

When my blood extractor is set to autofill, it fills any empty bucket I wield.

#### Steps to reproduce the problem:

1. Set an extractor with at least 1000 units of blood to "auto-fill".
2. Take an empty bucket in hand.
3. Hey, that bucket you were planning to scoop lava with seems to be full of blood!

#### Expected behaviour:

Bucket

[2018-05-13 06:34] rubensworks commented on #692
That's actually a feature! But I get why it might be annoying, will look into it. Perhaps a config option might be good.

[2018-05-13 10:54] MentalMouse commented on #692
Perhaps buckets could be filled in the crafting grid. That is, empty-bucket+extractor --> blood bucket+less-full extractor.

ETA:  I understand that bucketing is part of making blood a proper fluid, but is there actually any use for a bucket of blood, that can't be served by the extractor itself?

[2018-05-13 15:04] supercrasher opened #693 "Evilcraft modifying items's aspects"
#### Issue type:

- :bug: Bug

____

#### Short description:

Evilcraft modifies snowballs for example and iron nuggets and removes their aspects from thaumcraft 6

#### Steps to reproduce the problem:

    1. Have Thaumcraft 6 and Evilcraft installed;
    2.Check the aspects of snowball and iron nuggets and observe that they're non-existent
#### Expected behaviour:

The aspects should show up whe

[2018-05-14 04:25] rubensworks commented on #693
This sounds similar to issues from back in 1.7.10 (like #208).

[2018-05-16 18:16] #692 closed, assigned to nobody

[2018-05-17 15:33] #693 closed, assigned to nobody

[2018-05-17 15:34] rubensworks commented on #693
I wasn't able to reproduce this, which makes me think that it's a rare mod-order-loading issue. The last commit should fix this, let me know if the issue persists for future releases.

[2018-05-19 01:00] Flemmli97 opened #694 "Blood stained blocks crash"
#### Issue type:

- Crash when breaking blood stained blocks propably with silk touch.

____

#### Short description:

- break a blood stained block (silk touch?) crashed once before but i though it was a one time/rare issue and as such did not note it. happened when i broke the block with a tinkers pick having silk touch

#### Versions:

- This mod: 0.10.54
- Minecraft: 1.12
- Forge: 1.12.2-forge

[2018-05-19 05:42] rubensworks commented on #694
This is actually the same problem as CyclopsMC/CyclopsCore#110, which has been fixed in dev. Will release a new EC version soon.

[2018-05-19 05:42] #694 closed, assigned to nobody

[2018-05-20 10:30] #687 closed, assigned to nobody

[2018-05-22 19:22] CurePindal opened #695 "0.10.57 Evil tank eats lava buckets"
#### Issue type:

- :bug: Bug

____

#### Short description:

A nearly full Evil tank despawns lava buckets

#### Steps to reproduce the problem:

1. I have a evil tank with 31345/32k lava
2. right clicking the tank with a full lava bucket despawns the whole bucket. Just gone. No change to the tank itself.

Tested and reproducable in SP with a private, custom modpack
(doubt the pack is the issue,

[2018-05-26 12:36] The-Shopkeeper opened #696 "Blood and EvilCraft book spawning in all chests"
#### Issue type:

- :bug: Bug

____

#### Short description:

Blood and EvilCraft book spawning in all chests

#### Steps to reproduce the problem:

Go to any chest in towns or normal world and blood (condensed blood i think) appears multiple times in a single chest and the Book for Evilcraft. In all the chests everywhere it seems.

I have tinkers construct and blood magic as well as loads of othe

[2018-05-26 12:37] rubensworks commented on #696
Can you check without any other mods installed?

[2018-05-26 12:56] The-Shopkeeper commented on #696
With your mod only, first village I go to has a chest where 4 slots are taken up with condensed blood...

[2018-05-26 12:57] rubensworks commented on #696
Does it still happen in _all_ chests you find? Or just that first one?

_If_ the condensed blood spawns in a chest, then it's normal that it will occupy multiple slots.

[2018-05-26 13:06] The-Shopkeeper commented on #696
Can't find many on this seed, but 3 villages so far have it.  the chest in the blacksmiths I'm checking.  Just thought it a bit odd that villagers would store such a thing! :)

And It seems to effect other villages/forts chests spawned by Ancient Warfare 2 (mod) in the other modpack I made (just for your info).

[2018-05-26 13:10] The-Shopkeeper commented on #696
And 'The Origin of Darkness' in the 5th village. All have blood..... Vampire peasants everywhere!! (kidding) ;D

[2018-05-26 13:14] rubensworks commented on #696
It might not be an actual bug then, I probably just have to tweak the spawn frequencies a bit.

[2018-05-26 14:07] The-Shopkeeper commented on #696
I haven't played through the pack yet, does it need to spawn in chests? Or is there other ways of getting it (the blood and the book?)  and if there are other ways, is there a toggle to turn their spawning off for chests?  Just out of interest for my pack.

Really excited to get my teeth stuck in to this pack! looks awesome btw.

[2018-05-26 14:09] rubensworks commented on #696
Yes, there are plenty of other (and better) ways of obtaining blood and the book.

This mod offers to way to disable the spawning in chests though, but you might be able to achieve that by using a mod that allows you to tweak loot chests.

[2018-05-26 23:01] The-Shopkeeper commented on #696
I'll be honest. It does make me want to take this mod out of my selection for my modpack.  As everywhere I'm going there's just lots of blood and the book. It gets a bit annoying.  Is there some way to fix it?  It makes it seems like all villages are in to Evil magic and store blood....

Using a mod to tweak the loot chest might work, but is less desirable.

[2018-05-27 05:44] rubensworks commented on #696
There's definitely a way to fix it yes. I should be able to look into it somewhere next week.

[2018-05-27 06:12] rubensworks commented on #696
Nvm, just did it now. Will be released next week. You can already use the dev build (see README) if you want.

[2018-05-27 06:12] #696 closed, assigned to nobody

[2018-05-28 17:09] #679 closed, assigned to nobody

[2018-05-28 17:09] #695 closed, assigned to nobody

[2018-05-28 19:20] belathus opened #697 "Dinnerbone's (and, I'm guessing, Jeb_'s) spawn egg doesn't actually spawn anything"
#### Issue type:

- :bug: Bug

____

#### Short description:
The spawn egg created by Dinnerbone (and probably Jeb_, since they appear to be the same) doesn't actually spawn anything.

#### Steps to reproduce the problem:

1. Make spirit furnace
2. Throw in Dinnerbone (or Jeb_)
3. Wait until you obtain a spawn egg
4. Attempt to spawn creature

#### Expected behaviour:
I'm guessing the spawn egg is

[2018-05-28 19:21] rubensworks commented on #697
It looks like I missed that in the 1.11/1.12 update, thanks for reporting!

[2018-05-28 20:25] belathus commented on #697
Anytime. It's what I'm here for. :P

[2018-06-03 13:49] #697 closed, assigned to nobody

[2018-06-04 19:49] tyler489 opened #698 "Oredict TreeLeaves"
#### Issue type:

- :heavy_plus_sign: Feature request

____

#### Short description:

Please add your leaves to oredict tree Leaves that way they will be harvested by enderio farming station.
https://github.com/SleepyTrousers/EnderIO/issues/4680

[2018-06-04 23:09] Darkehart opened #699 "Brooms break with Guide-API (required for Blood Magic) installed"
#### Issue type:

- :bug: Bug

____

#### Short description:

When running Evilcraft with Guide-API, the broom parts lose all their stats and modifiers. Consequently, so do all brooms.

#### Steps to reproduce the problem:

1. Load Minecraft with EvilCraft and Guide-API installed properly.
2. Mouseover broom part or a completed broom or attempt to use a broom.
3. In the case of using a broom, the

[2018-06-05 00:19] Darkehart commented on #699
Of course, as soon as I go back to my actual pack from the testing environment where I was trying to find which mod was causing this, it starts working again, AND, so does the testing environment. >.<

[2018-06-05 06:17] rubensworks commented on #698
Oh, I'm surprised this isn't being registered already.

[2018-06-05 06:22] rubensworks commented on #699
Wait, so brooms don't break anymore? Or do brooms that broke before automatically fix themselves?

Do you know if this Guide API is doing anything special with items held in the inventory? If so, it might be good to report this in their repo as well.

[2018-06-05 09:41] tyler489 commented on #698
I was too

[2018-06-11 17:17] kuroyure opened #700 "crash on startaup with forge"
#### Issue type:

- :bug: Bug

____

#### Short description:

crash on startup, probably an forge issue

#### Steps to reproduce the problem:

1. install this mod in the bellow version
2. install forge in the bellow version
3. install the mods present in the crash

#### Expected behaviour:

the game to launch

____

#### Versions:

- This mod: 1.12.2-0.10.58
- Minecraft: 1.12.2
- Forge: 14.23.4.27

[2018-06-11 17:19] rubensworks commented on #700
Thanks for reporting!

[2018-06-11 17:23] kuroyure commented on #700
does it have a quick fix or ill need to wait to next update ?
btw np

[2018-06-11 17:24] rubensworks commented on #700
You can either wait, or you could try temporarily disabling werewolf flesh.

[2018-06-11 17:25] kuroyure commented on #700
how i do that ?

[2018-06-11 17:25] rubensworks commented on #700
Via the EC config file.

[2018-06-11 17:27] kuroyure commented on #700
what part of it??

[2018-06-11 17:28] kuroyure commented on #700
do i set the drop chance to 0 ?

[2018-06-11 17:35] kuroyure commented on #700
ok tks anyways

[2018-06-15 03:52] princessbinas opened #701 "Vengeance focus compatibility issue with Thaumcraft BETA16"
#### Issue type:

- :bug: Bug

____

#### Short description:

NOTE: There is no crashing involved.

Upon installing BETA16 of Thaumcraft, EvilCraft's Vengeance Focus, an item that pushes defeated mobs' ghosts in to a Box of Eternal Closure stops working. The version of EvilCraft is not the problem as I have had it prior to installing Thaumcraft and it worked as intended. With Thaumcraft installed,

[2018-06-15 07:11] rubensworks commented on #701
The Vengeance Focus has no TC interaction, so this does not look like an EC issue. Could you report it to the TC issue tracker as well?

[2018-06-18 17:04] MrDvD opened #702 "Bound blood drop crash"
I have a problem with bound blood drop.
As soon as I started it nothing unusual happens, but as soon as I switch the modes, minecraft crashes.
**I almost lost my world, where I played for 2 weeks!**
I hope this bug will be fixed soon.

Thanks to google translate

[2018-06-18 17:35] rubensworks commented on #702
I hope you follow the issue template, as I can not help you otherwise.

[2018-06-19 16:32] MrDvD commented on #702
Okay, I can provide you crash-report file and video with that bug.

**Crash-Report**: https://bit.ly/2yojj0x
**Video**: https://youtu.be/0lKUL7u_Wxg

(When I changed the mode of bound blood drop the world can not start until I remove this drop with the help of third-party software)

<blockquote><img src="https://cfl.dropboxstatic.com/static/images/icons128/page_white_text.png" width="48" align="ri

[2018-06-19 16:47] rubensworks commented on #702
Ok, it seems to be a problem in EC compat (incompatible `ItemHelpers.updateAutoFill` signature). Will look into this soon.

[2018-06-20 07:11] princessbinas commented on #701
I have and there was no reply on their end. It makes no sense as everything else after it in terms of posting date has been answered.
https://github.com/Azanor/thaumcraft-beta/issues/1009

[2018-06-20 07:13] rubensworks commented on #701
I'll try debugging it when I find some time.

[2018-06-20 07:15] princessbinas commented on #701
Okay. Thank you.

[2018-06-20 13:47] princessbinas commented on #701
I have been told by Anazor that Thaumic Inventory Scanning could be causing the issue, which I do have in tandium with Thaumcraft, Thaumic JEI, and Thaumic Periphery. I was assuming they were not the root cause, but I will indeed reference both this thread, and the one I linked here to there and give the link to the new issue opened for Thaumic Inventory Scanning.

[2018-06-20 13:49] rubensworks commented on #701
You could try removing the TC addons one-by-one to see which one effectively breaks it, and then you're certain which one causes the problem.

[2018-06-20 13:51] princessbinas commented on #701
I will try that. Until I find the culprit on my end, I have this issue posted:
blay09/TCInventoryScanning#20

[2018-06-20 13:59] princessbinas commented on #701
Sorry for the double post, but I can confirm now it is Thaumic Inventory Scanning is causing the issue. It was the first one I removed during my testing and the Vengeance Focus worked again.

[2018-06-20 14:32] BlayTheNinth commented on #701
This issue is not happening to me in singleplayer using

- Minecraft Forge 14.23.4.2708
- Cyclops Core 0.11.6
- EvilCraft 0.10.58
- Thaumcraft 6.1.BETA16
- Thaumic Inventory Scanning 2.0.10

However, it is happening when playing on a server, and even when Thaumic Inventory Scanning is not loaded, so it's most likely an issue on EvilCraft's side after all.

I assume the error occured in multiplayer

[2018-06-20 16:24] princessbinas commented on #701
I have tested with and without Inventory Scanning. I have used EvilCraft before with tons of other mods (the Dark MagicTech modpack to be exact) with NO ISSUES. Only when I removed Thaumic Inventory Scanning did Vengeance Focus work again.

I have the following:
Forge 12.23.4.2705
Cyclops Core 0.11.6
EvilCraft 10.58
Thaumcraft 6.1.BETA16
Thaumic Inventory Scanning 2.0.10
Thaumic JEI 1.4.0-14

I th

[2018-06-20 17:37] BlayTheNinth commented on #701
I don't understand why you're choosing such a hostile tone, I'm just trying to help debug the issue you're having. Maybe my post was misunderstood. I was suggesting a possible reason as to what could have made you think my mod was the cause - it wouldn't have been the first time someone falsely believed one of my mods is causing a problem when really they were just coincidentally no longer experie

[2018-06-20 18:59] princessbinas commented on #701
I was not trying to be hostile. Sorry if I came across that way. I was trying to be as to the point as possible as you are sounding like you do not understand me at all and it is not the first time no one has understood a word I have said. I swear I speak Engrish rather than English some times. Small tangent.

I use the Dark MagicTech Modpack by the way. And I actually got a theory now. I just put

[2018-06-21 06:09] rubensworks commented on #701
I should have some time later today to finally start debugging this, so that we can put this issue to rest :-) I guess it'll be something small.

[2018-06-21 15:40] #702 closed, assigned to nobody

[2018-06-21 15:57] rubensworks commented on #701
So, I did some testing, and I wasn't able to reproduce this problem myself with EC, TC and IC installed.

@princessbinas You mentioned that you think that this is a "sporadic bug that comes and goes". Do you know in which situations you encountered the problem? If not, please let me know if you would come across it again in the future.
Also, when the focus is _broken_, what happens exactly? When y

[2018-06-21 15:58] #698 closed, assigned to nobody

[2018-06-21 15:58] #700 closed, assigned to nobody

[2018-06-23 14:48] MrDvD opened #703 "4 Buckets of enternal water"
Well, when I crafting _"Eternal Water Bucket"_ appears 4 buckets, instead of 1. But when I use them, it appears 1.

Minecraft Version: **1.12.2**
Forge Version: **14.23.4.2705**
Mod Version: **0.10.59**

Video with that bug: https://youtu.be/zoPJnaOMFQM

Thanks to Google Translate

[2018-06-23 15:00] rubensworks commented on #703
Getting 4 buckets when crafting is intended. But them converting to only a single bucket is a bug.

[2018-06-23 15:07] MrDvD commented on #703
Okay, but why not 1? This is in case 1 gets lost?

[2018-06-23 15:07] rubensworks commented on #703
That's just a balancing decision.

[2018-06-23 21:14] LemADEC commented on #659
Issue is still valid on 1.12.2-0.10.59:
[code]

[2018-06-23 21:18] LemADEC opened #704 "Werevolf loot table is invalid"
#### Issue type:

- :bug: Bug

#### Short description:
Exception in console when Werevolf villager dies.

#### Steps to reproduce the problem:
boot the game
spawn a werevolf
kill it

#### Expected behaviour:
No exception/console spam

#### Versions:
- This mod: EvilCraft-1.12.2-0.10.59.jar
- Minecraft: 1.12.2
- Forge: 1.12.2-14.23.4.2707

#### Log file:
[code]

[2018-06-23 23:48] LemADEC commented on #416
Issue is visible with ICBM explosions

[2018-06-24 19:22] TheRdMelon opened #705 "Eternal water bucket deleted by other mod"
#### Issue type:

- :bug: Bug

____

#### Short description:

When putting the eternal water bucket in machines from some mods, it fills its container with water then replaces it presumably with its container item.  This deleted my eternal water bucket.

Sorry if this wasn't the issue and it was actually the other mod's fault.

[2018-06-25 06:34] rubensworks commented on #705
What mod(s) are you experiencing this with? Because this sounds like a bug.

[2018-06-25 07:24] TheRdMelon commented on #705
rockhounding-chemistry, any machine.

[2018-06-25 07:26] rubensworks commented on #705
Never heard of that mod. Make sure to report it to their repo, and link back to this issue.

[2018-06-25 17:56] #699 closed, assigned to nobody

[2018-06-27 07:38] MrDvD opened #706 "Dupe of Bound Blood Drop"
**Issue type:**

🐛 Bug

**Short description:**
In survival mode, when I hold the bound blood drop in my left hand and try to take blood from any device (Shift + Right Mouse Button), then I have bound blood drop in my left and right hand! (This take away the thing that was in my right hand)

**Versions:**
This mod: **0.10.59**
Minecraft: **1.12.2**
Forge: **14.23.4.2705**

**Log file:** https://bit

[2018-06-30 23:58] hedgehog1029 opened #707 "Placing a Box of Eternal Closure crashes clients"
#### Issue type:

- :bug: Bug

____

#### Short description:

Placing a box of eternal closure causes the screen to fail rendering completely for all clients in range.

#### Steps to reproduce the problem:

1. Get a box of eternal closure
2. Try to place it
3. Observe that a GL error occurs, the screen goes various colors, and the game hangs or crashes.

#### Expected behaviour:

I'd expect the bo

[2018-07-01 10:43] rubensworks commented on #707
This seems to be caused by a change in Forge.

Downgrading to version 14.23.4.2715 should fix the problem until I push a fix.

[2018-07-01 11:48] rubensworks commented on #706
Just tested this myself, and I'm not able to reproduce this.

@MrDvD Can you reproduce this with just EvilCraft (and dependencies) installed?

[2018-07-01 11:59] #703 closed, assigned to nobody

[2018-07-01 11:59] #704 closed, assigned to nobody

[2018-07-01 11:59] #707 closed, assigned to nobody

[2018-07-01 12:26] MrDvD commented on #706
Yeah, this bug works even with these mods:

**EvilCraft** [0.10.59]
**BloodMagic** [2.2.12-97]
**CyclopsCore** [0.11.6]
**Guide API** [1.5-60]

But I noticed 1 condition: It **ONLY** works in survival mode

[2018-07-01 14:45] rubensworks commented on #706
@MrDvD Then I must be doing something different than you.
Could you share a detailed step-by-step guide that explains how to reproduce this problem? (A video would even better if possible)

[2018-07-03 14:41] MrDvD commented on #706
Video I would could do, but render + uploading video on YouTube is too long.
So here's step-by-step guide:

1. Go to **SURVIVAL** mode
2. Take _"Bound Blood Drop"_ in your **LEFT** hand
3. Go to any source of blood (for example, blood infuser)
4. Take blood from this source (Shift + Right Mouse Button)

If that doesn't work, try to turn on auto-filling mode in Bound Blood Drop

[2018-07-05 16:17] #701 closed, assigned to nobody

[2018-07-07 17:40] MentalMouse commented on #619
I just had a broom drop its stats and not want to fly after a restart.  I was running EvilCraft 0.10.57, but have since upgraded to 0.10.60.  When I came back with the new version, the broom was working again.

[2018-07-08 05:48] SpitefulFox opened #708 "Thaumcraft Aspects Disappearing"
#### Issue type:

- :bug: Bug

____

#### Short description:

When EvilCraft is installed and has Thaumcraft compatibility enabled, and Thaumic Equivalence is also installed, aspects disappear off of many common vanilla items like Coal, Snowballs, Blaze Rods, etc...

#### Steps to reproduce the problem:

1. Install Thaumcraft 6.1 Beta 17
2. Install EvilCraft 0.10.60
3. Install ProjectE 1.3.1B
4. I

[2018-07-08 07:25] rubensworks commented on #708
Do you by any chance see anything special in the startup logs?

Perhaps it's good to also report this to the issue tracker of Thaumic Equivalence.

Possibly related to #693.

[2018-07-08 07:27] rubensworks commented on #619
Nothing has been changed to the broom, so this must have auto-fixed itself during a restart. I am starting to think that this is just a client-server desync issue.

If you would encounter the problem again in the future, could you check what happens if you restart the world/game?

[2018-07-08 08:50] SpitefulFox commented on #708
I couldn't find anything that looked related, but here's a log file just in case.
[2018-07-07-4.log](https://github.com/CyclopsMC/EvilCraft/files/2173523/2018-07-07-4.log)

[2018-07-08 15:23] Lilylicious commented on #708
I've tested it myself with Thaumcraft beta17, ProjectE 1.3.1B, Thaumic Equivalence 1.0.4, and EvilCraft 0.10.60.

Coal lost its aspects. I have no idea why. I doubt my mod is the culprit, as the currently available version makes no modification to recipes or aspects, it only adds EMC to thaumcraft items. If the issue doesn't lie with you, I suspect Thaumcraft has an issue themselves. There's been

[2018-07-10 08:07] rubensworks commented on #708
I see, thanks for linking these issues @Lilylicious. Putting this on hold then. I'll be following the linked issues.

[2018-07-14 15:08] rubensworks commented on #706
Ok, I've managed to reproduce it now, will be fixed in the next update.

[2018-07-14 15:12] #706 closed, assigned to nobody

[2018-07-14 21:13] MentalMouse commented on #518
A third idea:  You could support building an Exalted Crafter attached to a modded/labeled Ender Chest such as from Multi-Storage or Chickenbone's mods.  This would essentially combine the functionality of their Ender Bags, with your at-the-ready crafting grid.

[2018-07-15 12:10] rubensworks commented on #705
Following up on this one in Rockhounding_Chemistry.

[2018-07-15 12:10] #705 closed, assigned to nobody

[2018-07-15 17:41] belathus commented on #708
Re-adding missing aspects with ModTweaker seems to work for now. If anyone wants a copy of such a script, I have one; just keep in mind that this list is by no means exhaustive; I have no idea what all is losing their aspects (and the planks one might be a consequence of a pack-specific recipe change).

Here: https://github.com/belathus/Wanderlust-Renewed/blob/master/scripts/thaumcraft/aspects.zs

[2018-07-15 18:51] belathus opened #709 "Minor: Boxes of Eternal Closure and Entangled Chalices save some (probably) unnecessary NBT data"
#### Issue type:

- :bug: Bug

____

#### Short description:

A freshly-crafted entangled chalice only has one tag: tankID. But, if you place one in the world then break it, it gains 8 other mostly unnecessary tags. Similar happens with a box of eternal closure.

#### Steps to reproduce the problem:

1. Craft a pair of entangled chalices.
2. Put them in an AE system: they stack
3. Place one in the

[2018-07-16 06:18] rubensworks commented on #709
Thanks for the detailed issue!
Moving this to https://github.com/CyclopsMC/CyclopsCore/issues/109, as this is part of a bigger issue.

[2018-07-16 06:18] #709 closed, assigned to nobody

[2018-07-17 23:03] flamechair opened #710 "Client crash while rendering chalice"
#### Issue type:

- :bug: Bug

____

#### Short description:

Client crashes due to issue with rendering chalice

#### Steps to reproduce the problem:

1. Place chalice and wait

#### Expected behaviour:

____

#### Versions:

- This mod: EvilCraft-1.12.2-0.10.61
- Minecraft: 1.12.2
- Forge: 1.12.2 2705

#### Log file: https://gist.github.com/iamtpage/222a8bd3f5931b763f62f4feef8f54d9
[code]

[2018-07-18 06:00] rubensworks commented on #710
This one keeps coming back in a different form...

[2018-07-21 12:47] MentalMouse opened #711 "In-game recipe display shows XP costs instead of blood prices"
#### Issue type:

- :bug: Bug
____

#### Short description:
Blood Infuser Recipes displayed in-game, show prices in "XP".  This does not seem to be proportional to their blood cost.

#### Steps to reproduce the problem:

1. Use JEI or an infuser's GUI arrow to display recipes of infused items such as a Diamond Promise Acceptor.
2. Note the gray text at upper right, in this case "10.0XP".  (The blo

[2018-07-21 13:20] rubensworks commented on #711
Not sure if I understand your issue correctly. Blood infuser recipes don't require XP, instead, they _return_ XP when an item is crafted, just like furnace recipes. The blood amount that is required is shown in the tank.

[2018-07-21 13:37] MentalMouse commented on #711
Ahh, I had not realized that!  Hmm.  I have to say that given the lower usage, the amounts of XP involved here seem pretty minimal, I'm not sure what the point is.

[2018-07-21 13:37] #711 closed, assigned to nobody

[2018-07-21 14:04] rubensworks commented on #711
It should be similar to what you get from the vanilla furnace. Every bit helps I guess :-)

[2018-07-25 22:24] vdrake77 opened #712 "Looks like veined scribing tools are broken in compat"
#### Issue type:

- :bug: Bug

____

#### Short description:

Can't start minecraft, crashes on loading evilcraft-compat

#### Steps to reproduce the problem:

1. Start minecraft

#### Expected behaviour:

____

#### Versions:

- This mod: 10.61
- Minecraft: 1.12.2
- Forge: 2738

#### Log file:

https://pastebin.com/5dYVKy4a

[2018-07-25 22:52] MentalMouse commented on #712
"Infused scribing tools"?  What mod would that be from?  I don't see any "Evilcraft-compat" mod on Curseforge.

[2018-07-25 23:01] vdrake77 commented on #712
Evilcraft compat is built in to evilcraft, to my understanding.  Also, my bad, I meant 'veined scribing tools', it's part of the thaumcraft compat.

[2018-07-25 23:10] vdrake77 commented on #712
https://pastebin.com/FHcpeVeP  Is a full crashlog.

It's something with Astral Sorcery and Evilcraft not playing well together, if I drop down to Astral 1.9.3 it's fine.

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/FHcpeVeP">---- Minecraft Crash Report ----    WARNING: coremods are present:    BCM

[2018-07-26 06:16] rubensworks commented on #712
An infinite loop... It looks like AS is doing some kind of iteration over all items, which doesn't seem to work well with capabilities.

[2018-07-26 23:49] esotericist commented on #712
I've also experienced this problem with [Food Funk](https://minecraft.curseforge.com/projects/food-funk).

The simple, easy solution would have been to disable the offending item, but there doesn't seem to be a way to disable the veined scribing tools without also disabling the rest of the thaumcraft compatibility. Is there any chance that could get broken out a little bit further?

Edit: To be cl

[2018-07-27 05:17] rubensworks commented on #712
@esotericist Could you share your crashlog?

The item should be disableable in the evilcraftcompat config file though, under the items section. Please report it in a separate issue if this isn't the case.

[2018-07-27 06:08] esotericist commented on #712
@rubensworks I don't have ready access to the crash log right now, I'm afraid (and I removed the mods in question to continue getting other work done). I can try to generate a fresh one tomorrow.

As for the config, I somehow repeatedly failed to see the separate item config due to the structure. I think my brain only looks for sub-options after the master option, rather than above?

edit: Either

[2018-07-27 15:27] flamechair commented on #712
Also experiencing this: https://gist.github.com/iamtpage/9447c149abdf370bc75e069b80cfd56a

<blockquote><img src="https://avatars3.githubusercontent.com/u/8901422?s=400&v=4" width="48" align="right"><div><img src="https://assets-cdn.github.com/favicon.ico" height="14"> Gist</div><div><strong><a href="https://gist.github.com/iamtpage/9447c149abdf370bc75e069b80cfd56a">gist:9447c149abdf370bc75e069b80c

[2018-07-27 19:17] Sunconure11 commented on #712
I think the culprit could be astral sorcery. @Hellfirepvp

https://pastebin.com/GWaQ2kKB

<blockquote><img src="https://pastebin.com/i/facebook.png" width="48" align="right"><div>Pastebin</div><div><strong><a href="https://pastebin.com/GWaQ2kKB">---- Minecraft Crash Report ----  // Don't be sad, have a hug! <3    Time: 2018- - Pastebin.com</a></strong></div></blockquote>

[2018-07-28 03:49] esotericist commented on #712
@rubensworks Here's the [crashlog you requested](https://gist.github.com/esotericist/a60c3d9007c0fef9cbf6d303d8195218). Food funk does an 'iterate over all the things ever' step similar to astral sorcery, and ends up in a tragically similar place.

I'm on an older version of Astral Sorcery, so it isn't having this problem right now (although I plan to get the current version now that I know I can

[2018-07-28 07:29] xxlio109 opened #713 "Rendering infobook crash"
Short description:
Rendering screen crash

Steps to reproduce the problem:
Open origins of darkness look Broom basis Crash

Versions:
This mod: CyclopsCore-1.12.2-0.11.8 , EvilCraft-1.12.2-0.10.61
Minecraft: 1.12.2
Forge: 1.12.2 2705
Log file: https://gist.github.com/xxlio109/661baeb6a669d035904f212211682e01